<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">
	<link rel="stylesheet" type="text/css" href="/style/member/address.css">

    <% include('../layout/headJs.html') %>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	<div class="member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
                <% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>
		<!-- 左菜单 end -->
		<!-- 中心 -->
		<div class="address-main">
			<div class="address-table">
				<h3>收货地址 <span id="addAlert">+ 新增地址</span></h3>
				<!-- <p class="address-count">已收到您的处方笺(共 <span>2</span> 条）</p> -->
				<div class="list-table">
					<div class="list-head">
						<div class="consignee">
							收货人
						</div>
						<div class="address-name">
							收货地址
						</div>
						<div class="phone">
							联系电话
						</div>
						<div class="options">
							操作
						</div>
					</div>

					<!-- 没有更多 -->
					<div class="nothing">
						<img src="/static/images/isnothing.png" alt="">
						<p>还没有设置地址喔！</p>
						<!-- <a href="/">去首页逛逛</a> -->
					</div>
					<!-- 没有更多 end -->

					<div class="list-body">
						<!-- <div class="item">
							<div class="consignee">
								陈文1
							</div>
							<div class="address-name">
								广东省广州市荔湾区中山十一路洪华大街132号之一9楼901室 
							</div>
							<div class="phone">
								18588855246
							</div>
							<div class="options">
								<span>修改</span>
								<span>删除</span>
							</div>
						</div>
						<div class="item">
							<div class="consignee">
								陈文1
							</div>
							<div class="address-name">
								广东省广州市荔湾区中山十一路洪华大街132号之一9楼901室 
							</div>
							<div class="phone">
								18588855246
							</div>
							<div class="options">
								<span>修改</span>
								<span>删除</span>
							</div>
						</div>
						<div class="item">
							<div class="consignee">
								陈文1
							</div>
							<div class="address-name">
								广东省广州市荔湾区中山十一路洪华大街132号之一9楼901室 
							</div>
							<div class="phone">
								18588855246
							</div>
							<div class="options">
								<span>修改</span>
								<span>删除</span>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- 内容 end -->
		<!-- 中心 -->
	</div>
	
	<!-- 编辑地址 -->
	<div id="addressAlert">
		<div class="modify">
			<span>地区：</span>
			<div class="modify-item">
				<select id="province" class="" name="province">
					<option value="请选择">请选择</option>
				</select>
				<select name="city" id="city">
					<option value="请选择">请选择</option>
					<!-- <option value="010">北京</option>
					<option value="021">上海</option>
					<option value="0571">杭州</option> -->
				</select>
				<select name="county" id="county">
					<option value="请选择">请选择</option>
					<!-- <option value="010">北京</option>
					<option value="021">上海</option>
					<option value="0571">杭州</option> -->
				</select>
			</div>
		</div>
		<div class="modify">
			<span>详细地址：</span>
			<div class="modify-item">
				<input class="address-detail" type="text" name="" placeholder="无需重复填写省市区，小于75个字" />
			</div>
		</div>
		<div class="modify">
			<span>收货人姓名：</span>
			<div class="modify-item">
				<input class="address-name" type="text" name="" placeholder="请填写真实姓名" />
			</div>
		</div>
		<div class="modify">
			<span>手机号码：</span>
			<div class="modify-item">
				<input class="phone" type="text" name="" placeholder="请填写手机号码" />
				<span class="or">或</span>
				<span class="telType">固定电话:</span>
				<input class="tel-area" type="text" name="" placeholder="区号" />
				<input class="tel" type="text" name="" placeholder="电话号码" />
			</div>
		</div>
		<button class="modify-btn">确认</button>
	</div>
    <!-- 主体 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
	<!-- 底部 end -->
	<script type="text/javascript" src="/js/member/address.js"></script>
</body>
</html>

