<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">
	<link rel="stylesheet" type="text/css" href="/style/common/require.css"/>
	<link rel="stylesheet" href="/style/member/collection.css">

    <% include('../layout/headJs.html') %>
	<script type="text/javascript" src="/plug/jquery.form.js"></script>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	
	<!-- 我的订单 -->
	<div class="orders member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
			<% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>

		<!-- 内容 -->
		<div class="coll-main">
			<div class="coll-p">
				<h3>
					<span class="title">我的收藏</span>
					<span class="collCount">（共 <b>0</b> 条）</span>
					<div class="edit-w">
						<span class="edit-t">编辑</span>
						<span class="edit-all" style="display: none">批量取消</span>
						<span class="edit-com" style="display: none">确认</span>
					</div>
				</h3>
				<div class="list-w">
					<div class="list-tab">
						<div class="info">
							<label>
								<input type="checkbox" value="all" />
								<span class="checkSpan"></span>
								<span>全选</span>
							</label>
							<span>商品详情</span>
						</div>
						<div class="pri">
							单价
						</div>
						<div class="ku">
							库存
						</div>
						<div class="options">
							操作
						</div>
					</div>
					<!-- 没有更多 -->
					<div class="nothing">
						<img src="/static/images/isnothing.png" alt="">
						<p>还没有收藏的商品哦</p>
						<a href="/">去首页逛逛</a>
					</div>
					<!-- 没有更多 end -->
					<div class="item-w">
						<!-- <div class="item">
							<div class="item-info">
								<label>
									<input type="checkbox" value="11" /> 
									<span class="checkSpan"></span>
								</label>
								<div class="info-img"><img src=""></div>
								<div class="info-text">
									<p class="name"><img src="/static/images/pt.png">
										丰安 复可托 脾氨肽口服冻干粉脾氨肽口服冻干粉脾氨肽口服冻干粉 
									</p>
									<p class="gui">规格：2mg*5瓶/盒</p>
								</div>
							</div>
							<div class="item-pri">
								13.00
							</div>
							<div class="item-ku">
								有货
							</div>
							<div class="item-options">
								<p>取消收藏</p>
								<button>立即购买</button>
							</div>
						</div> -->
						
					</div>

					
				</div>
			</div>
			<!-- 内容 end -->
			<div class="page">
				<div id="page"></div>
			</div>
		</div>
	</div>

	<div id="sureAlert">
		<h6>确认取消收藏？</h6>
		<div class="btn-w">
			<button class="sure">确认</button>
			<button class="can">取消</button>
		</div>
	</div>
	<div id="allCollAlert">
		<h6>确认取消所选收藏？</h6>
		<div class="btn-w">
			<button class="sure">确认</button>
			<button class="can">取消</button>
		</div>
	</div>
	<!-- 我的订单 end -->
    <!-- 主体 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
    <!-- 底部 end -->
	<script type="text/javascript" src="/js/member/collection.js"></script>
	<script id="require" src="/js/common/require.js"></script>
</body>
</html>

