<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">
	<link rel="stylesheet" type="text/css" href="/style/common/require.css"/>
	<link rel="stylesheet" type="text/css" href="/style/member/demandRecord.css">

    <% include('../layout/headJs.html') %>
	<script type="text/javascript" src="/plug/jquery.form.js"></script>
	<script type="text/javascript" src="/plug/jquery.imgareaselect.min.js"></script>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	<div class="member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
                <% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>
		<!-- 左菜单 end -->
		
		<!-- 内容 -->
		<div class="demand-main">
			<div class="dem-table">
				<h3>需求记录</h3>
				<p class="demo-count">已收到您的需求登记(共 <span id="demandCount">0</span> 条）</p>

				<div class="list-table">
					<div class="list-head">
						<div class="number">序号</div>
						<div class="info">
							商品信息
						</div>
						<div class="dem-info">
							登记信息
						</div>
						<div class="dem-time">
							提交时间
						</div>
						<div class="options">
							操作
						</div>
					</div>

					<!-- 没有更多 -->
					<div class="nothing">
						<img src="/static/images/isnothing.png" alt="">
						<p>你还没提交过需求喔！</p>
						<a href="/">去首页逛逛</a>
					</div>
					<!-- 没有更多 end -->

					<div class="list-body">
						<!-- <div class="item">
							<div class="number">1</div>
							<div class="info">
								<div class="p-img"><img src=""></div>
								<div class="p-text">
									<p class="p1">赛典 单唾液酸四己糖神经节苷脂钠注射液脂钠注射液</p>
									<p class="p2">2ml:20mg*6支/盒</p>
									<p class="p3">￥42.00</p>
								</div>
							</div>
							<div class="dem-info">
								<p>CWK1</p>
								<p>13466662222</p>
								<p class="msg">留言：我想问下这个药还有没有货啊？我想问下这个药还有没有货啊？</p>
							</div>
							<div class="dem-time">
								2018-04-03 03:44:22
							</div>
							<div class="options">
								<p class="op1 active">重新提交需求</p>
								<p class="op2">删除</p>
							</div>
						</div> -->
						<!-- <div class="item">
							<div class="number">2</div>
							<div class="info">
								<div class="p-img"><img src=""></div>
								<div class="p-text">
									<p class="p1">赛典 单唾液酸四己糖神经节苷脂钠注射液脂钠注射液</p>
									<p class="p2">2ml:20mg*6支/盒</p>
									<p class="p3">￥42.00</p>
								</div>
							</div>
							<div class="dem-info">
								<p>CWK1</p>
								<p>13466662222</p>
								<p class="msg">留言：我想问下这个药还有没有货啊？我想问下这个药还有没有货啊？</p>
							</div>
							<div class="dem-time">
								2018-04-03 03:44:22
							</div>
							<div class="options">
								<p class="op1 active">重新提交需求</p>
								<p class="op2">删除</p>
							</div>
						</div> -->
					</div>
				</div>
				<div class="page" style="text-align: right;margin-right: 20px;">
					<div id="page"></div>
				</div>
			</div>
		</div>
		<!-- 内容 end -->
	</div>
    <!-- 主体 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
	<!-- 底部 end -->
	<script src="/js/member/demandRecord.js" type="text/javascript"></script>
	<script id="require" src="/js/common/require.js"></script>
</body>
</html>

