<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">

    <% include('../layout/headJs.html') %>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	<!-- 个人中心 -->
	<div class="member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
                <% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>
		<!-- 左菜单 end -->
		<!-- 中心 -->
		<div class="member_c_block">
			<div class="mcb_top">
				<div class="mcb_img">
                    {{if memberInfo.picURL}}<img src="{{memberInfo.picURL}}" alt="">{{else}}<img src="/images/myImg.png" alt="">{{/if}}
				</div>
				<div class="mcb_info">
					<div>
						<h3>{{memberInfo.memberName}}<span><!-- 早安，新的一天又开始了~ --></span></h3>
						<!-- <p>最近登录时间：xxxx-xx-xx  xx:xx:xx</p> -->
					</div>
					<span class="vip_grade">{{memberInfo.vipGradeName?memberInfo.vipGradeName:'普通会员'}}</span>
				</div>
				<div class="mcb_infor">
					<div><span>性别：</span><span class="sex">{{memberInfo.sex?memberInfo.sex:'保密'}}</span></div>
					<div><span>生日：</span><span class="bir">{{memberInfo.birthday?memberInfo.birthday:'未填写'}}</span></div>
					<a class="update_btn c_green" href="./updateinfo.html">修改</a>
				</div>
			</div>
			<div class="mcb_bot">
				<a href="/member/collection.html">
					<span class="c_green num_collect">{{ renderData.myCollection.count || 0 }}</span>
					<p>我的收藏</p>
				</a>
				<div class="line"></div>
				<a href="/member/demandRecord.html">
					<span class="c_green num_need">{{ renderData.myRequire.count || 0 }}</span>
					<p>我的需求记录</p>
				</a>
				<div class="line"></div>
				<a href="/member/prescript_list.html">
					<span class="c_green num_cjf">{{ renderData.myPrescript.count || 0 }}</span>
					<p>我的处方笺记录</p>
				</a>
			</div>
		</div>
		<!-- 中心 -->
		<!-- 右菜单 -->
		<div class="member_r_block">
			<dl>
				<dt>全部订单</dt>
				<dd>
					<a href="/module/member/order.html?status=1">
						<span class="c_green num_wait">{{ renderData.myOrderCount.obligation || 0 }}</span>
						<span>待付款</span>
					</a>
				</dd>
				<dd>
					<a href="/module/member/order.html?status=2">
						<span class="c_green num_wsend">{{ renderData.myOrderCount.sendTheGoods || 0 }}</span>
						<span>待发货</span>
					</a>
				</dd>
				<dd>
					<a href="/module/member/order.html?status=3">
						<span class="c_green num_wget">{{ renderData.myOrderCount.waitForReceiv || 0 }}</span>
						<span>待收货</span>
					</a>
				</dd>
				<dd>
					<a href="/module/member/order.html?status=4">
						<span class="c_green num_finish">{{ renderData.myOrderCount.complete || 0 }}</span>
						<span>已完成</span>
					</a>
				</dd>
				<dd>
					<a href="/module/member/order.html?status=5">
						<span class="c_green num_cancel">{{ renderData.myOrderCount.cancel || 0 }}</span>
						<span>已取消</span>
					</a>
				</dd>
			</dl>
		</div>
		<!-- 右菜单 end -->
	</div>
	<!-- 个人中心 end -->
    <!-- 主体 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
    <!-- 底部 end -->
    <script src="/js/member/mem_index.js"></script>
</body>
</html>

