<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">
	<link rel="stylesheet" href="/style/member/order.css">

    <% include('../layout/headJs.html') %>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	<div class="member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
                <% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>
		<!-- 左菜单 end -->
		
		<!-- 内容 -->
		<div class="con">
			<!-- 订单信息 -->
			<div class="block_area">
				<h3>订单信息</h3>
				<div class="block_area_con">
					<div class="inlie_block">
						<div class="inlie_block_l">订单号：</div>
						<div class="inlie_block_r order_num"></div>
					</div>
					<div class="inlie_block">
						<div class="inlie_block_l">下单时间：</div>
						<div class="inlie_block_r order_date"></div>
					</div>
					<div class="inlie_block">
						<div class="inlie_block_l">付款方式：</div>
						<div class="inlie_block_r order_pay"></div>
					</div>
					<div class="inlie_block">
						<div class="inlie_block_l">订单金额：</div>
						<div class="inlie_block_r c_orange order_price"></div>
					</div>
					<div class="inlie_block">
						<div class="inlie_block_l">订单状态：</div>
						<div class="inlie_block_r order_statu"></div>
					</div>
				</div>
			</div>
			<!-- 订单信息 end -->
			<!-- 配送信息 -->
			<div class="block_area">
				<h3>配送信息</h3>
				<div class="block_area_con">
					<div class="inlie_block">
						<div class="inlie_block_l">收货人：</div>
						<div class="inlie_block_r logistics_user"></div>
					</div>
					<div class="inlie_block">
						<div class="inlie_block_l">收货人电话：</div>
						<div class="inlie_block_r logistics_phone"></div>
					</div>
					<div class="inlie_block">
						<div class="inlie_block_l">配送地址：</div>
						<div class="inlie_block_r logistics_address"></div>
					</div>
					<div class="inlie_block">
						<div class="inlie_block_l">配送方式：</div>
						<div class="inlie_block_r logistics_company"></div>
					</div>
					<div class="inlie_block">
						<div class="inlie_block_l">物流单号：</div>
						<div class="inlie_block_r logistics_num"></div>
						<!-- <button class="btn_primary plain btn_express">查看物流</button> -->
					</div>
				</div>
			</div>
			<!-- 配送信息 end -->
			<!-- 备注 -->
			<div class="block_area">
				<h3>备注</h3>
				<div class="block_area_con">
					<textarea class="remarks" readonly></textarea>
				</div>
			</div>
			<!-- 备注 end -->
			<!-- 商品清单 -->
			<div class="block_area">
				<h3>商品清单</h3>
				<div class="block_area_con">
					<div class="list_con">
						<div class="list_head list_head_small">
							<table class="akdefult_table aksmall_table" cellspacing="0" cellpadding="0" border="0">
								<col width="364" align="center" />
								<col width="128" align="center" />
								<col width="190" align="center" />
								<col width="80" align="center" />
								<col width="164" align="center" />
								<thead>
									<tr>
										<th class="tc">商品信息</th>
										<th class="tc">商品编号</th>
										<th class="tc">单价</th>
										<th class="tc">数量</th>
										<th class="tc">小计</th>
									</tr>
								</thead>
							</table>
						</div>
						<!-- 列表 -->
						<div class="list_lists list_lists_small">

						</div>
					</div>
				</div>
			</div>
			<!-- 商品清单 end -->
			<!-- 统计 -->
			<div class="counts">
				<div class="inlie_block">
					<span class="count_name">商品小计：</span><span class="count_pro"></span>
				</div>
				<div class="inlie_block">
					<span class="count_name">运费：</span><span class="count_charges"></span>
				</div>
				<!-- <div class="inlie_block">
					<span class="count_name">运费减免：</span><span class="count_charges_discount"></span>
				</div> -->
				<!-- <div class="inlie_block">
					<span class="count_name">折扣小计：</span><span class="count_count_discount"></span>
				</div> -->
				<div class="inlie_block">
					<span class="count_name">优惠金额：</span><span class="count_discount"></span>
				</div>
				<div class="inlie_block">
					<span class="count_name">订单金额：</span><span class="c_orange count_all"></span>
				</div>

				<!-- 底部按钮 -->
				<div class="inlie_block btns_conut">
					<!-- <button class="btn_primary bp_green large">确认收货</button> -->
				</div>
				<!-- 底部按钮 end -->
			</div>
			<!-- 统计 end -->

			<span class="clear"></span>
		</div>
		<span class="clear"></span>
		<!-- 内容 end -->
	</div>
	<!-- 主体 end -->
	
	<!-- 查看物流窗口 -->
	<div class="exp_layer detail_exp_layer">
		<div class="exp_layer_in">
			<div class="exp_head">
				物流状态<i class="fr">X</i>
			</div>
			<div class="exp_line inlie_block">
				<span>物流状态:</span><span class="exp_line_status"></span>
			</div>
			<div class="exp_line inlie_block">
				<span>承运公司:</span><span class="exp_line_company"></span>
			</div>
			<div class="exp_line inlie_block">
				<span>运单编号:</span><span class="exp_line_num"></span>
			</div>
			<div class="exp_line inlie_block">
				<span>官方电话:</span><span class="exp_line_tel"></span>
			</div>
			<div class="exp_detail">
				<div class="exp_detail_right">
					<div class="exp_detail_left"></div>
					<!-- <p class="new_detail">
						<span>【温州市】温州市中转部已发出</span>
							<span>2018-08-21   19:44:34</span>
					</p>
					<p>
						<span>【温州市】温州市中转部已发出</span>
							<span>2018-08-21   19:44:34</span>
					</p> -->
				</div>
			</div>
			<input type="hidden" id="logisticsInfo">
		</div>
	</div>
	<!-- 查看物流窗口 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
	<!-- 底部 end -->
	<script src="/js/member/order_detail.js"></script>
</body>
</html>

