<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">
    <link rel="stylesheet" href="/style/member/order.css">

    <% include('../layout/headJs.html') %>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	<div class="member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
                <% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>
		<!-- 左菜单 end -->
		<!-- 中心 -->
		<!-- 内容 -->
		<div class="con">
			<!-- 左菜单 end -->
			<div class="tabs">
				<ul data-u="{{renderData.myOrderCount}}">
					<li class="num_all"><a href="javascript:void(0);">全部<span>({{ renderData.myOrderCount.all || 0 }})</span></a></li>
					<li class="num_wait"><a href="javascript:void(0);">待付款<span>({{ renderData.myOrderCount.obligation || 0 }})</span></a></li>
					<li class="num_wsend"><a href="javascript:void(0);">待发货<span>({{ renderData.myOrderCount.sendTheGoods || 0 }})</span></a></li>
					<li class="num_wget"><a href="javascript:void(0);">待收货<span>({{ renderData.myOrderCount.waitForReceiv || 0 }})</span></a></li>
					<li class="num_finish"><a href="javascript:void(0);">已完成<span>({{ renderData.myOrderCount.complete || 0 }})</span></a></li>
					<li class="num_cancel"><a href="javascript:void(0);">已取消<span>({{ renderData.myOrderCount.cancel || 0 }})</span></a></li>
				</ul>
			</div>

			<div class="top_search">
				<form action="javascript:;">
					<select class="fl" name="recentDate" id="">
						<option value="">选择时间</option>
						<option value="30">近一个月的订单</option>
						<option value="60">近两个月的订单</option>
						<option value="90">近三个月的订单</option>
					</select>
					<div class="fr">
						<div>
							<input name="orderCodeOrProName" autocomplete="off" type="text" placeholder="请输入订单编号、商品名称">
							<button type="submit"></button>
						</div>
					</div>
				</form>
			</div>

			<div class="list_con">
				<div class="list_head">
					<table class="akdefult_table" cellspacing="0" cellpadding="0" border="0">
						<col width="374" align="center" />
						<col width="120" align="center" />
						<col width="80" align="center" />
						<col width="186" align="center" />
						<col width="190" align="center" />
						<thead>
							<tr>
								<th class="tc">商品信息</th>
								<th>单价</th>
								<th>数量</th>
								<th class="tc">订单金额（元）</th>
								<th class="tc">操作</th>
							</tr>
						</thead>
					</table>
				</div>
				<!-- 加载中动画 -->
				<div class="loading_animate">
					<i class="layui-icon layui-icon layui-anim layui-anim-rotate layui-anim-loop"><i class="layui-icon">&#xe63d;</i></i>
				</div>
				<!-- 加载中动画 end -->
				<!-- 没有更多 -->
				<div class="nothing">
					<img src="/static/images/isnothing.png" alt="">
					<p>还没有相关订单哦</p>
					<a href="/index.html">去首页逛逛</a>
				</div>
				<!-- 没有更多 end -->
				<!-- 列表 -->
				<div class="list_lists">
					
				</div>

				<!-- 分页 -->
				<div id="pagings"></div>
				<!-- 分页 end -->
			</div>

			<span class="clear"></span>
		</div>
		<span class="clear"></span>
		<!-- 内容 end -->
		<!-- 中心 -->
	</div>
    <!-- 主体 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
	<!-- 底部 end -->
	<script src="/js/member/order.js"></script>
</body>
</html>

