<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">
	<link rel="stylesheet" href="/style/member/prescript.css">

    <% include('../layout/headJs.html') %>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	<div class="member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
                <% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>
		<!-- 左菜单 end -->
		<!-- 中心 -->
		<div class="pre_wrap">
			<h3><span class="fl">处方笺</span><a class="fr" href="./prescript_list.html">返回列表</a></h3>
			<p>提交处方笺时间：<span class="create_time"></span></p>
			<div class="form_con pres_detail">
				<div class="line line_col2">
					<div class="c_l">
						<div class="line_name">医院:</div>
						<div class="line_con detail_hospital"></div>
					</div>
					<div class="c_r">
						<div class="line_name">科别:</div>
						<div class="line_con detail_cate"></div>
					</div>
				</div>
				<div class="line line_col2">
					<div class="c_l">
						<div class="line_name">姓名:</div>
						<div class="line_con detail_name"></div>
					</div>
					<div class="c_r">
						<div class="line_name">手机号码:</div>
						<div class="line_con detail_phone"></div>
					</div>
				</div>
				<div class="line line_col2">
					<div class="c_l">
						<div class="line_name">性别:</div>
						<div class="line_con detail_sex"></div>
					</div>
					<div class="c_r">
						<div class="line_name">年龄:</div>
						<div class="line_con detail_age"></div>
					</div>
				</div>
				<div class="line">
					<div class="line_name line_name_zd">临床诊断:</div>
					<div class="line_con zd_con"></div>
				</div>

				<div class="cut_line"></div>

				<div class="line">
					<div class="line_name rp_img"></div>
					<div class="line_con">
						<div class="addrp_cols">
							<!-- <div class="addrp_col">
								<span>1</span>
								<h3>赛典 单唾液酸四己糖神经节苷脂钠注射液</h3>
								<p>2ml:20mg*6支/盒</p>
							</div> -->
						</div>
					</div>
				</div>

				<div class="cut_line"></div>

				<div class="line">
					<div class="line_name line_name_zd">处方笺图片:</div>
					<div class="line_con cjf_img">
						<!-- <img src="/static/images/fadv.jpg" alt=""> -->
					</div>
				</div>
			</div>
		</div>
		<!-- 中心 -->
	</div>
    <!-- 主体 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
	<!-- 底部 end -->
	<script src="/js/member/prescript_detail.js"></script>
</body>
</html>

