<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">
	<link rel="stylesheet" href="/style/member/prescript.css">

    <% include('../layout/headJs.html') %>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	<div class="member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
                <% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>
		<!-- 左菜单 end -->
		<!-- 中心 -->
		
		<div class="pre_wrap">
			<h3><span class="fl">处方笺列表</span><a class="fr i_add" href="member/prescript.html">新增处方笺</a></h3>
			<div class="lists">
				<p>已收到您的处方笺(共<span class="c_orange">0</span>条)</p>
				<table class="akdefult_table" cellspacing="0" cellpadding="0" border="0">
					<col width="50" align="center" />
					<col width="80" align="center" />
					<col width="170" align="center" />
					<col width="334" align="center" />
					<col width="210" align="center" />
					<col width="102" align="center" />
					<thead>
						<tr>
							<th class="tc">序号</th>
							<th class="tc">患者</th>
							<th class="tc">医院</th>
							<th class="tc">临床诊断</th>
							<th class="tc">提交时间</th>
							<th class="tc">操作</th>
						</tr>
					</thead>
				<!-- </table> -->
					<tbody>
						<!-- <tr>
							<td class="tc"><div>1</div></td>
							<td class="tc">
								<div>
									<h4>陈文科</h4>
									<p><span>男</span><span>55岁</span></p>
								</div>
							</td>
							<td class="tc">
								<div>
									<h4>陈文科</h4>
									<p><span>男</span><span>55岁</span></p>
								</div>
							</td>
							<td class="tc">
								<div>
									有病要吃药有病要吃药有病要吃药有病要吃药有病要吃药有病要吃药有病要吃药有病要吃药有病要吃药有病要吃药有病
								</div>
							</td>
							<td class="tc">
								<div>
									2018-04-03 03:44:22
								</div>
							</td>
							<td class="tc"><div><a class="c_green" href="./prescript_detail.html">查看处方笺</a></div></td>
						</tr> -->
					</tbody>
				</table>
			</div>

			<!-- 分页 -->
			<div id="pagings"></div>
			<!-- 分页 end -->
		</div>
		<!-- 中心 -->
	</div>
    <!-- 主体 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
	<!-- 底部 end -->
	<script src="/js/member/prescript_list.js"></script>
</body>
</html>

