<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" href="/style/member/mem_ind.css">
	<link rel="stylesheet" href="/style/member/prescript.css">

    <% include('../layout/headJs.html') %>
	<script type="text/javascript" src="/plug/jquery.form.js"></script>
	<script type="text/javascript" src="/plug/jquery.imgareaselect.min.js"></script>
    
</head>
<body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

	<!-- 主体 -->
	<div class="member_wrap">
		<!-- 左菜单 -->
		<div class="member_l_block">
                <% include('../layout/memleftblock.html', { curList: renderData.curList || 0 }) %>
		</div>
		<!-- 左菜单 end -->
		<!-- 中心 -->
		<div class="pre_wrap">
			<h3><span class="fl">处方笺</span><a class="fr" href="/member/prescript_list.html">处方笺列表</a></h3>
			<p>为保障患者更安全、更有效的用药；请上传您的处方笺；</p>
			<!-- <form class="form_con" method="post" action="http://192.168.2.250:8081/AKGW-api/v1/prescription/addPrescription" onsubmit="return formSubmit(this)" > -->
			<!-- <form class="form_con" method="post" action="http://192.168.2.250:8081/AKGW-api/v1/prescription/addPrescription" enctype="multipart/form-data" > -->
			<form class="form_con" action="javascript:void(0);" enctype="multipart/form-data" onsubmit="return formSubmit(this)" >
				<input type="hidden" name="memberID" autocomplete="off" value="">
				<i id="output"></i>
				<div class="line line_col2">
					<div class="c_l">
						<div class="line_name">医院:</div>
						<div class="line_con"><input type="text" autocomplete="off" name="hospitalName"></div>
					</div>
					<div class="c_r">
						<div class="line_name">科别:</div>
						<div class="line_con"><input type="text" autocomplete="off" name="offices"></div>
					</div>
				</div>
				<div class="line line_col2">
					<div class="c_l">
						<div class="line_name">姓名:</div>
						<div class="line_con input_name"><input type="text" autocomplete="off" name="sufferer"></div>
						<div class="line_name line_name_age_col2">年龄:</div>
						<div class="line_con input_age"><input type="text" autocomplete="off" name="age"></div>
					</div>
					<div class="c_r">
						<div class="line_name">手机号码:</div>
						<div class="line_con"><input type="text" autocomplete="off" name="phone"></div>
					</div>
				</div>
				<div class="line">
					<div class="line_name">性别:</div>
					<div class="line_con">
						<label class="radio_label" for="male">
							<input checked id="male" value="1" name="sex" type="radio" autocomplete="off" >
							<span class="radio_frame"><i></i></span>
							<span>男</span>
						</label>

						<label class="radio_label" for="female">
							<input id="female" value="0" name="sex" type="radio" autocomplete="off" >
							<span class="radio_frame"><i></i></span>
							<span>女</span>
						</label>
					</div>
				</div>
				<div class="line">
					<div class="line_name line_name_zd">临床诊断:</div>
					<div class="line_con"><textarea name="diagnosed" class="default_textarea"></textarea></div>
				</div>

				<div class="cut_line"></div>

				<div class="line">
					<div class="line_name rp_img"></div>
					<div class="line_con">
						<div class="addrp_cols">
							<div class="addrp_col">
								<span>1</span>
								<input class="rp_col_name" placeholder="请输入药品名称" name="prescriptionDetails[0].medicine" type="text" autocomplete="off">
								<input class="rp_col_spec" placeholder="请输入药品规格" name="prescriptionDetails[0].spec" type="text" autocomplete="off">
								<button class="btn_deleterp">删除</button>
							</div>
						</div>
						<a class="btn_addrp" href="javascript:;">+新增药品</a>
					</div>
				</div>

				<div class="cut_line"></div>

				<div class="line">
					<div class="line_name line_name_zd">处方笺图片:</div>
					<div class="line_con">
						<div class="prescript_img"></div>
						<!-- <input type="file" name="file" id="add_pre_file"> -->
						<input type="file" id="add_pre_file" accept="image/png, image/jpeg">
						<input type="hidden" name="file" id="hiddenImg">
					</div>
				</div>

				<div class="cut_line"></div>
				
				<button type="submit" class="btn_primary bp_green large btn_submit">提交</button>
				
				<div class="agree_block">
					<label class="checkbox_label" for="agree">
						<!-- <input id="agree" name="isagree" autocomplete="off" type="checkbox" checked > -->
						<input id="agree" autocomplete="off" type="checkbox" checked >
						<span class="checkbox_frame"><i></i></span>
						<span></span>
					</label>
					<a href="javascript:;">同意处方购买协议</a>
				</div>
				<!-- 来源 PC -->
				<input type="hidden" name="sysNo" value="PC端">
				<!-- 来源 PC end -->
			</form>
		</div>
		<!-- 中心 -->
	</div>
    <!-- 主体 end -->
	
	<!-- 处方购买协议 -->
	<div class="agree_layer">
		<div class="agree_layer_in">
			<div class="agree_layer_head">
				<h3>同意处方购买协议<i>X</i></h3>
			</div>
			<div class="agree_layer_con">
				<p>
					处方药主要包括抗生素、部分治疗高血压的药、部分感冒发烧药以及治疗精神疾病的药物等。根据处方药与非处方药的分类管理办法，处方药必须凭执业医师或执业助理医师处方调配、购买和使用。为保障患者更安全、更有效的用药， 请在购买处方药并提交订单时主动、及时地上传处方信息和登记购买用户基本信息，不得弄虚作假。
				</p>
			</div>
		</div>	
	</div>
	<!-- 处方购买协议 end -->
    
    <!-- 底部 -->
    <% include('../layout/footer.html') %>
	<!-- 底部 end -->
	<script src="/js/member/prescript.js"></script>
</body>
</html>

