.address-main{
	width: 989px;
	margin-left: 10px;
	margin-bottom: 50px;
}
.address-table{
	border: 1px solid #E8E8E8;
}
.address-table h3{
	height:40px;
	line-height: 40px;
	background-color: #E8E8E8;
	padding: 0 20px;
	font-size: 16px;
	color: #646464;
}
.address-table h3 span{
	float: right;
	color: #2FBA66;
	font-size: 12px;
	cursor: pointer;
}
.address-table .address-count{
	font-size: 12px;
	color: #646464;
	padding-left: 20px;
	line-height: 30px;
}
.address-table .address-count span{
	color: #F08200;
}

.list-table{
	width: 948px;
	border: 1px solid #E8E8E8;
	margin: 20px auto;
}
.list-head{
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #E8E8E8;
}
.list-head>div{
	float: left;
	text-align: center;
}
.list-head .consignee{
	width: 160px;
}
.list-head .address-name{
	width: 340px;
}
.list-head .phone{
	width: 200px;
}
.list-head .options{
	width: 200px;
}

.list-body{

}
.address-main .item{
	padding: 0 20px;
	min-height: 60px;
	overflow: hidden;
	/*padding: 20px 0;*/
	border-bottom: 1px solid #E8E8E8; 
}
.address-main .item:last-child{
	border-bottom: none;
}
.address-main .item>div{
	float: left;
	font-size: 12px;
	color: #646464;
	text-align: center;
}
.address-main .item .consignee{
	width: 160px;
	line-height: 60px;
}
.address-main .item .address-name{
	width: 256px;
	padding: 0 42px;
	text-align: center;
	line-height: 20px;
	margin-top: 8px;
	text-align: left;
}
.address-main .item .address-name span{
	padding: 3px 5px; 
	background: #E8E8E8;
	color: #A7A7A7;
	font-size: 12px;
	margin: 3px 5px 3px 0;
	border-radius: 4px;
}
.address-main .item .phone{
	width: 200px;
	line-height: 60px;
}
.address-main .item .options{
	width: 200px;
	text-align: center;
	line-height: 60px;
}
.address-main .item .options span{
	cursor: pointer;
	margin: 0 12px;
}
.address-main .item .options span:hover{
	color: #2FBA66;
}

/*nothing*/
.address-main .nothing {
	display: none;
	width: 948px;
	height: 207px;
	background-color: #fff;	
	text-align: center;
}
.address-main .nothing>img {
	margin-top: 26px;
}
.address-main .nothing>p {
	color:#A7A7A7;
	padding:10px 0;
	font-size: 16px;
}
.address-main .nothing>a {
	background-color: #2FBA66;
	border-radius: 4px;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
	display: inline-block;
	color:#fff;
	font-size: 12px;
}
.address-main .nothing>a:hover {
	background-color: #51d485;
}

/*弹窗*/
#addressAlert{
	padding: 0 10px;
	height: 250px;
	display: none;
}
#addressAlert .modify{
	/*overflow: hidden;*/
	margin-top: 14px;
}
#addressAlert .modify:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}
#addressAlert .modify>span{
	float: left;
	width: 100px;
	height: 26px;
	line-height: 26px;
	text-align: right;
	font-size: 14px;
	color: #A7A7A7;
	margin-right: 12px;
}
#addressAlert .modify>span:before{
	content: '* ';
	font-size: 16px;
	color: #F08200;
}
#addressAlert .modify .modify-item{
	float: left;
}
#addressAlert .modify select{
	float: left;
	width: 130px;
	height: 28px;
	margin-right: 12px;
	border: 1px solid #E8E8E8;
	outline: none;
	color: #646464;
	cursor: pointer;
}
#addressAlert .modify select option{
	/*width: 110px;*/
}
#addressAlert .modify input{
	height: 28px;
	border: 1px solid #E8E8E8;
	text-indent: 12px;
}
#addressAlert .modify .address-detail{
	width: 412px;
}
#addressAlert .modify .address-name{
	width: 250px;
}
#addressAlert .modify .phone{
	width: 150px;
}
#addressAlert .modify .tel-area{
	width: 58px
}
#addressAlert .modify .tel{
	width: 100px;
}
#addressAlert .modify .or{
	font-size: 12px;
	color: #A7A7A7;
	margin-right: 12px;
}
#addressAlert .modify .telType{
	color: #646464;
	font-size: 14px;
}
#addressAlert .modify-btn{
	display: block;
	width: 100px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 14px;
	color: #ffffff;
	margin: 35px auto 0;
	background: #2FBA66;
	cursor: pointer;
}