.pre_wrap {
	width: 988px;
	margin-left: 10px;
	border:1px solid #E8E8E8;
	background-color: #fff;
}
.pre_wrap>h3 {
	height: 40px;
	padding: 0 20px;
	background-color: #E8E8E8;
}
.pre_wrap>h3>* {
	height: 40px;
	line-height: 40px;

}
.pre_wrap>h3>span {
	font-size: 16px;
}
.pre_wrap>h3>a {
	width: 62px;
	text-align: right;
	font-size: 12px;
	color:#2FBA66;
	padding-right: 12px;
	background-image: url('/static/images/icons_prescript.png');
	background-repeat: no-repeat;
	background-position: -82px -364px;
}
.pre_wrap>h3 .i_add {
	background-image: url('/static/images/icons_prescript.png');
	background-position: -146px -423px;
	padding-right: 0;
	padding-left: 12px;
}
.pre_wrap>h3>a:hover {
	color:#51d485;
}
.pre_wrap>p {
	line-height: 22px;
	font-size: 12px;
	color:#A7A7A7;
	background-color: #FAFAFA;
	padding: 0 20px;
}
.form_con {
	display: block;
	background-color: #fff;
	padding: 25px 20px 0;
}
.line {
	font-size: 0;
	min-height: 30px;
	margin-bottom: 20px;
    overflow: hidden;
}
.line .line_name {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color:#646464;
	width: 88px;
	text-align: right;
}
.line .line_con {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color:#646464;
	margin-left: 10px;
	position: relative;
}

.line_col2>div {
	font-size: 0;
}
.c_l {
	float: left;
}
.c_l .line_con {
	width: 332px;
}
.c_l .line_con>input {
	width: 100%;
	padding: 0 10px;
	width: 310px;
	font-size: 12px;
}
.c_r {
	float: left;
	margin-left: 42px;
}
.c_r .line_con {
	width: 272px;
}
.c_r .line_con>input {
	width: 250px;
	padding: 0 10px;
}
.c_l .input_name {
	width: 154px;
}
.c_l .input_name>input {
	width: 132px;
}
.c_l .input_age {
	width: 96px;
}
.c_l .input_age>input {
	width: 74px;
}
.line .line_name_age_col2 {
	width: 72px;
}
.line .line_name_zd {
	vertical-align: top;
	padding-top: 10px;
	line-height: 30px;
}
.default_textarea {
	width: 744px;
	height: 90px;
}
.line .rp_img {
	background-image: url('/static/images/icons_prescript.png');
	background-position: -84px -50px;
	background-repeat: no-repeat;
	height: 40px;
	vertical-align: top;
}
.addrp_col {
	font-size: 0;
	padding: 5px 0;
	border:1px solid #E8E8E8;
	height: 30px;
	line-height: 30px;
    margin-bottom: 10px;
}
.addrp_col>* {
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
}
.addrp_col>span {
	width: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
}
.addrp_col .rp_col_name {
	width: 255px;
	margin-right: 8px;
	padding: 0 10px;
	font-size: 12px;
}
.addrp_col .rp_col_spec {
	width: 90px;
	margin-right: 8px;
	padding: 0 10px;
	font-size: 12px;
}
.addrp_col>button {
	width: 56px;
	border:0;
	background-color: transparent;
	color:#2FBA66;
	cursor: pointer;
	height: 30px;
}
.addrp_col>button:hover, .btn_addrp:hover {
	color:#51d485;
}
.btn_addrp {
	color:#2FBA66;
	margin-top: 10px;
	display: block;
}
.prescript_img {
	min-width: 240px;
	min-height: 205px;
}
.prescript_img {
	background-image: url('/static/images/icons_prescript.png');
	background-repeat: no-repeat;
	background-position: -29px -123px;
	cursor: pointer;
}
#add_pre_file {
	display: none;
}
#uploadImg {
	/*display: none;*/
	max-width: 948px;
}

/*agree_block*/
.agree_block {
	text-align: center;
	margin:5px 0;
}
.agree_block .checkbox_label {
	margin-right: 0;
}
.agree_block>a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
    vertical-align: top;
}
.agree_block>a:hover {
	text-decoration: underline;
}

/*btn_primary*/
.btn_primary {
	padding: 0 10px;
	width: 206px;
	margin:0 auto;
	display: block;
}

/*cut_line*/
.cut_line {
	height: 1px;
	background-color: #E8E8E8;
	margin-bottom: 20px;
}

/* lists */
.lists {
	padding: 0 20px 20px;
	background-color: #fff;
}
.lists>p {
	line-height: 30px;
	height: 30px;
}
.lists>p>span {
	padding: 0 4px;
}
.lists .akdefult_table {
	border:1px solid #E8E8E8;
}
.lists th {
	background-color: #FAFAFA;
	font-size: 12px;
	border-bottom:1px solid #E8E8E8;
}
.lists td {
	vertical-align: middle;
}
.lists td>div {
	line-height: 20px;
	padding: 12px 6px;
}
.lists tr {
	border-bottom:1px solid #E8E8E8;
}


/* 处方笺详情 */
.pres_detail .line_col2 .line_con {
	/*min-width: 160px;*/
	/*max-width: 355px;*/
	width: 160px;
	overflow: hidden;
}
.pres_detail .zd_con {
	width: 850px;
	line-height: 30px;
}
.pres_detail .line_name {
	padding-top: 0;
}
.pres_detail .rp_img {
	background-position: -84px -42px;
}
.pres_detail .addrp_col {
	width: 500px;
	background-color: #FAFAFA;
}
.pres_detail .addrp_col>h3 {
	width: 320px;
	padding: 0 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pres_detail .addrp_col>p {
	width: 114px;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#A7A7A7;
}

/* 处方购买协议 */
.agree_layer {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	display: none;
}
.agree_layer_in {
	width: 670px;
	height: 370px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -350px;
	margin-top: -200px;
	border-radius: 2px;
	padding: 15px;
	overflow: hidden;
}
.agree_layer_head h3 {
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	position: relative;
}
.agree_layer_head h3>i {
	position: absolute;
	right: 0;
	font-size: 12px;
	font-style: normal;
	cursor:pointer;
	width: 20px;
}
.agree_layer_con {
    width: 100%;
    overflow: hidden;
}
.agree_layer_con>p {
    width: 687px;
	padding: 10px 0;
	height: 318px;
	overflow-y: scroll; 
	text-indent: 2em;
    line-height: 22px;
}


/*  分页 */
#pagings {
	max-width: 1190px;
	width: auto;
}