<!DOCTYPE html>
<html>
  <head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页a<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" type="text/css" href="/style/findDrug.css">

    <% include('../layout/headJs.html') %>
  </head>
  <body>
    
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->

    <!-- 主体 -->
    <div class="f-main">
      <h3><span>病种</span></h3>
      <div class="drug-w">
        {{if renderData.drugList}}
          {{each renderData.drugList}}
          <a href="javascript:void(0)" productId="{{$index+2}}">{{$value}}</a>
          {{/each}}
        {{/if}}
      </div>
    </div>
    <!-- 主体 end -->

    <!-- 底部 -->
    <% include('../layout/footer.html') %>
    <!-- 底部 end -->

    <script src="/js/findDrug.js"></script>
  </body>
</html>
