<!DOCTYPE html>
<html>
  <head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页a<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>

    <% include('../layout/headJs.html') %>

    <script src="/js/jquery.cycle.all.min.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderDada.cateList, memberInfo: renderDada.memberInfo }) %>
    <!-- 头部 end -->
    
    <!-- 轮播图 -->
    <div class="focus-wrap">
      <div class="focus_in">
          <div class="focus">
              <div class="m-banner" style="height: 500px;">
                <div class="banner_btns">
                  <a href="javascript:void(0);" class="prev" id="turnL"></a>
                  <a href="javascript:void(0);" class="next" id="turnR"></a>
                </div>
                <ul id="roteAdv" class="m-b-con">
                  <% if(renderDada.bannerDatas){ let datas=renderDada.bannerDatas %>
                    <% datas.forEach(function(item, index){ %>
                      <li id="<%- index+1 %>"><a target="_blank" href="<%- item.advertisementUrl %>"><img src="<%- item.advertisementPhoto %>"></a></li>
                    <% }); %>
                  <% }; %>
                </ul>
              </div>
          </div>
        </div>
    </div>
    <!-- 轮播图 end -->
    
    <!-- 阿康特色 -->
    <div class="featur_area hasBotAdv">
      <div class="featur_area_in">
          <h2><img src="/images/ak_recom.png" alt=""></h2>
          <div class="featur_pro_wrap">
              <ul class="featur_pro" style="top: 0px;">
                <% if(renderDada.akRecomProducts){ let datas=renderDada.akRecomProducts %>
                  <% datas.forEach(function(item, index){ %>
                    <li><a target="_blank" href="/products/<%- item.productNumber %>.html"><img class="lazy" data-original="{{item.productPhotos | filterFirstPhoto}}?200*200"></a><div class="pro_info"><h2><%- item.productName %></h2><div class="pro_price"><span class="c_orange"><em>{{item.ourPrice | filterPrice}}</em></span></div></div></li>
                  <% }); %>
                <% }; %>
              </ul>
          </div>
      </div>
        
        <!-- 轮播分页按钮 -->
      <!-- <div class="paginations">
        <span class="active_p"></span>
    </div> -->

      <!-- 切换按钮 -->
      <div class="feature_btns">
          <div id="feature_prev"><img src="/images/ak_arr_l.png" alt=""></div>
          <div id="feature_next"><img src="/images/ak_arr_r.png" alt=""></div>
      </div>
      <!-- 切换按钮 end -->
    </div>
    <!-- 阿康特色 end -->

    <!-- 底部 -->
    <% include('../layout/footer.html') %>
    <!-- 底部 end -->
  </body>
</html>
