<!DOCTYPE html>
<html>
  <head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>登录<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
		<link rel="stylesheet" type="text/css" href="/style/register_header.css">
		<link rel="stylesheet" type="text/css" href="/style/login.css"/>

    <% include('../layout/headJs.html') %>
    <script type="text/javascript" src="/js/login.js"></script>

  </head>
  <body>
    <!-- 头部 -->
    <% include('../layout/headLogin.html', {headTitle: renderData.headTitle, curPage: renderData.curPage}) %>
    <!-- 头部 end -->
    
    <!-- 页面主体 -->
    <div class="login-bg">
      <div class="w">
          <div class="l">
              <img src="/images/login-left.png"/>
          </div>
          <div class="r">
              <h2>欢迎登录</h2>
              <p class="phoneErr"></p>
              <div class="fore">
                  <input class="userName" type="text" placeholder="请输入手机号" />
              </div>
              <div class="fore">
                  <input class="pass" type="password" placeholder="请输入密码" />
              </div>
              <div class="fore">
                  <button class="loginBtn" disabled="disabled">立即登录</button>
              </div>
              <div class="fore">
                  <a href="/forgetPassword.html">忘记密码？</a>
              </div>
          </div>
      </div>
    </div>
    <!-- 页面主体 -->
    
    <!-- 底部 -->
    <% include('../layout/footerLogin.html') %>
    <!-- 底部 end -->
  </body>
</html>
