<!DOCTYPE html>
<html>
  <head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>登录<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" type="text/css" href="/style/register_header.css">
    <link rel="stylesheet" type="text/css" href="/style/register.css" />

    <% include('../layout/headJs.html') %>
    <script src="/js/register.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
    <!-- 头部 -->
    <% include('../layout/headLogin.html', {headTitle: renderData.headTitle, curPage: renderData.curPage}) %>
    <!-- 头部 end -->
    
    <!-- 页面主体 -->
    <div class="reg-bg">
        <div class="w">
            <div id="registerForm" name="">
                <!-- <input id="userMobile" name="userMobile1" type="hidden" value="">
                <input id="registerType" name="registerType1" type="hidden" value="">
                <input name="fid1" type="hidden" value=""> -->
                <div class="lt">
                    <h4>欢迎注册</h4>
                    <div class="item fore1">
                        <input type="text" class="phone" id="userMobile" name="userMobile" maxlength="20" placeholder="请输入手机号码" >
                        <div id="phoneErr"></div>
                    </div>

                    <div class="item fore2">
                        <input placeholder="请输入图形验证码" maxlength="16" name="" id="picCode" type="text">
                        <button class="picBtn">
                            <!-- <img src="http://192.168.2.254:8080/AKGW-api/v1/sendCode"> -->
                            <!-- <img src="http://192.168.2.67:8082/AKGW-api/v1/sendCode"> -->
                            <!-- <img src="http://113.108.163.210:9999/AKGW-api/v1/sendCode"> -->
                            <img src="{{renderData.curWebRoot}}/sendCode">
                        </button>
                        <div id="picCodeError"></div>
                    </div>
                    <div class="item fore2">
                        <input placeholder="短信验证码" id="phoneCode" maxlength="16" name="" type="text">
                        <button class="getVerifyCode">获取验证码</button>
                        <div id="phoneCodeError"></div>
                    </div>
                    <div class="item fore3">
                        <input type="password" name="" id="userPsw" placeholder="请输入密码" readonly onfocus="this.removeAttribute('readonly');">
                        <div id="pswTip"></div>
                    </div>
                    <div class="item fore4" id="">
                        <button id="regSubmit">立即注册</button>
                    </div>
                    <div class="item fore5">
                        <label><input class="xieCheck" type="checkbox" checked="checked"> 我已阅读并同意</label>
                        <a class="agreement" href="javascript:void(0)">《网站服务协议》</a>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <!-- 页面主体 -->
    
    <!-- 底部 -->
    <% include('../layout/footerLogin.html') %>
    <!-- 底部 end -->
  </body>
</html>
