.member_wrap {
	width: 1190px;
	min-height: 370px;
	margin:0 auto;
	padding: 20px 0;
	overflow: hidden;
}
.member_wrap>div {
	float: left;
	height: auto;
}
.member_l_block {
	width: 188px;
	background-color: #fff;
	border:1px solid #E8E8E8;
}
.member_l_block dt {
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #E8E8E8;
	font-size: 16px;
	font-weight: bold;
	padding: 0 15px 0 26px;
	color: #646464;
}
.member_l_block dd {
	height: 34px;
	line-height: 34px;
	padding: 0 15px 0 42px;
	font-size: 14px;
	color:#646464;
}
.member_l_block dd a {
	display: block;
}
.member_l_block dd.cur a {
	color:#2fba66;
}
.member_l_block dd a:hover {
	color:#2fba66;	
}
.member_c_block {
	width: 708px;
	margin:0 10px;
	background-color: #fff;
	padding: 20px 16px;
}
.mcb_top {
	overflow: hidden;
	padding-bottom: 38px;
}
.mcb_top>div {
	float: left;
    overflow: hidden;
}
.mcb_top .mcb_img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 6px;
}
.mcb_top .mcb_img img {
	display: block;
	margin:0 auto;
	/*max-width: 112px;*/
	width: 100px;
	height: 100px;
	border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,.3);
    -ms-box-shadow: 0 3px 4px rgba(0,0,0,.3);
    -o-box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
.mcb_top .mcb_info {
	padding: 24px 20px 0 20px;
	width: 226px;
}
.mcb_top .mcb_info>div {
	border-right: 1px solid #FAFAFA;
}
.mcb_top .mcb_info>div>h3 {
	font-size: 20px;
	color:#414141;
}
.mcb_top .mcb_info>div>h3 span {
	font-size: 12px;
	color: #646464;
	padding-left: 6px;
}
.mcb_top .mcb_info>div>p {
	font-size: 12px;
	color:#A7A7A7;
	margin-top: 6px;
}
.mcb_top .mcb_info>span {
	font-size: 12px;
	color:#F08200;
	margin-top: 18px;
	display: block;
}
.mcb_top .mcb_infor {
    padding: 24px 20px 0 20px;
    width: 290px;
    position: relative;
}
.mcb_top .mcb_infor>div {
    height: 20px;
    line-height: 20px;
    color:#646464;
}
.mcb_top .mcb_infor .update_btn {
	position: absolute;
	top:0;
	right: 0;
	border:0;
	background-color: transparent;
	padding-right: 10px;
	background-image: url(../../../assets/images/icon_arr_r.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.mcb_bot {
	border-top: 1px solid #fafafa;
	height: 50px;
	padding-top: 30px;
}
.mcb_bot a {
	width: 205px;
	float: left;
	height: 50px;
	text-align: center;
	padding: 0 15px;
	overflow: hidden;
}
.mcb_bot a>span {
	font-size: 22px;
	display: block;
	height: 30px;
}
.mcb_bot a>p {
	font-size: 14px;
	color:#646464;
	height: 18px;
	line-height: 18px;
}
.mcb_bot .line {
	float: left;
	width: 1px;
	height: 50px;
	background-color: #fafafa;
}
.member_r_block {
	width: 238px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
}
.member_r_block dt {
	height: 39px;
	line-height: 39px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 15px 0 22px;
	color: #646464;
}
.member_r_block dd {
	padding: 0 15px 0 22px;
	font-size: 14px;
	color:#646464;
}
.member_r_block dd a {
	display: block;
	padding: 10px 0;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #FAFAFA;
	font-size: 0;
}
.member_r_block dd a>span {
	font-size: 14px;
	display: inline-block;
	padding-left: 14px;
	vertical-align: middle;
}
.member_r_block dd a>.c_green {
	width: 33px;
	padding-left: 10px;
	border-right: 1px solid #fafafa;
	overflow: hidden;
}

/* 编辑个人信息 */
.member_info {
	width: 988px;
	border:1px solid #e8e8e8;
	margin-left: 10px;
	background-color: #fff;
}
.member_info>h3 {
	height: 40px;
	line-height: 40px;
	background-color: #E8E8E8;
	padding: 0 20px;
	color:#646464;
	font-size: 16px;
}
.info_left {
	height: 195px;
	width: 453px;
	padding: 36px 15px 15px 26px; 
}
.info_left>div {
	height: 30px;
	line-height: 30px;
	color:#646464;
	margin-bottom: 24px;
}
.info_left>div>* {
	height: 30px;
	line-height: 30px;
}
.in_title {
	width: 60px;
	padding-right: 10px;
	text-align: right;
	font-size: 14px;
	color:#646464;
	overflow: hidden;
}
.info_left>div input[type="text"] {
	padding: 0 10px;
	width: 180px;
}
.birth_select {
	font-size: 0;
}
.birth_select>* {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	color:#646464;
}
.birth_select>select {
	height: 20px;
	width: 80px;
	font-size: 12px;
}
.info_left .btn_block {
	margin-bottom: 0;
	text-align: right;
	padding-right: 102px;
}

.info_right {
	padding: 36px 15px 15px 26px;
	width: 453px;
    height: 195px;
}
.info_right .ir_upImg .img {
	width: 110px;
	height: 110px;
	margin:0 auto;
	border-radius: 50%;
	display: block;
}
.info_right .ir_upImg .img>img {
	width: 110px;
	height: 110px;
	margin:0 auto;
	border-radius: 50%;
	display: block;
	cursor: pointer;
	box-shadow: 0 3px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,.3);
    -ms-box-shadow: 0 3px 4px rgba(0,0,0,.3);
    -o-box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
#upload_img_btn {
	display: none;
}	
.info_right>span {
	display: block;
	text-align: center;
	font-size: 12px;
	color:#646464;
	margin-top: 4px;
}
.info_right>p {
	text-align: center;
	margin-top: 20px;
	color:#a7a7a7;
	font-size: 12px;
}

.user_img_layer {
	display: none;
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index:999;
}
.user_img_in {
	width: 360px;
	height: 360px;
	background-color: #fff;
	position: absolute;
	top:50%;
	left:50%;
	margin:-180px 0 0 -180px;
	border-radius: 2px;
}
.user_img_in .img_load_layer {
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    text-align: center;
    line-height: 360px;
}
.user_img_in .img_load_layer>i {
	color:#fff;
	font-size: 40px;
}
.user_img_con {
	height: 292px;
	padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}
.user_img_con>img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
.user_img_options {
	padding: 10px 15px;
	height: 28px;
}