
.con {
	width: 989px;
	margin-left: 10px;
}

.tabs {
	height:40px;
	line-height: 40px;
	background-color: #E8E8E8;
}
.tabs ul {
	overflow: hidden;
}
.tabs li {
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 10px 0;
}
.tabs li a {
	float: left;
	display: block;
	padding: 0 20px;
	border-right: 1px solid #ddd;
	color:#646464;
}
.tabs li a:hover {
	color:#2FBA66;
}
.tabs li.cur a {
	color:#2FBA66;
}

.top_search {
	height: 36px;
	line-height: 36px;
	padding: 10px 0;
}
.top_search .fl {
	width: 128px;
	height: 26px;
	line-height: 26px;
	border:1px solid #E8E8E8;
	color:#646464;
	font-size: 12px;
	margin-top: 10px;
}
.top_search .fr>div {
	width: 260px;
	height: 36px;
	position: relative;
}
.top_search .fr>div>input {
	width: 213px;
	height: 34px;
	padding: 0 30px 0 15px;
	position: relative;
	border:1px solid #E8E8E8;
	background-color: #fff;
}
.top_search .fr>div>button {
	width: 16px;
	height: 16px;
	position: absolute;
	background-image: url('../../../assets/images/hmc-search01.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border:0;
	right: 10px;
	top:50%;
	margin-top: -8px;
}
.list_head {
	padding: 0 20px;
	background-color: #E8E8E8;
}
.list_head .akdefult_table {
	background-color: #E8E8E8;
}
.list_head .akdefult_table th {
    padding: 9px 0;
}

.list_lists {
	padding: 10px 20px;
	background-color: #fff;
}
.list_lists .item {
	width: 947px;
	border:1px solid #E8E8E8;
	background-color: #fff;
	margin-bottom: 10px;
}
.list_lists .i_head {
	height: 29px;
	line-height: 29px;
	padding: 0 15px;
	background-color: #fafafa;
	border-bottom: 1px solid #E8E8E8;
	font-size: 0;
}
.list_lists .i_head>span {
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
	color:#646464;
	margin-right: 40px;
}
.list_lists .i_head>span.fr {
	margin-right: 0;
}
.list_lists .i_head>span.fr>em {
	font-style: normal;
}
.list_lists .item td {
	border-right: 1px solid #e8e8e8;
	vertical-align: top;
	/*vertical-align:middle;*/
}
.list_lists .item td>div {
	overflow: hidden;
	padding: 8px 14px;
	font-size: 0;
}
.list_lists .item td>div:last-child {
	border-bottom: 0;
}
.list_lists .item td .info_wrap {
	border-bottom: 1px solid #E8E8E8;
}
.list_lists .item td>div>* {
	float: none;
	display: inline-block;	
	font-size: 12px;
	vertical-align: middle;
}
.list_lists .item .i_info {
	width: 360px;
}
.list_lists .item .i_info>div {
	width: 68px;
	height: 68px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	float: left;
	margin-right: -70px;
}
.list_lists .item .i_info>div img {
	width: 68px;
	height: 68px;
}
.list_lists .item .i_info>p {
	padding-left: 80px;
	color:#646464;
	font-size: 12px;
	padding-right: 44px;
}	
.list_lists .item .i_info .y_type {
	background-image: url('../../../assets/images/icons_ptype48x12.png');
	background-size: 100px auto;
	background-repeat: no-repeat;
	background-position: -26px -30px;
	width: 48px;
	height: 12px;
	padding-right: 4px;
	display: inline-block;
	vertical-align: middle;
}	
.list_lists .item .i_info .y_type.otc_1 {
	background-position: -26px -72px;
}	
.list_lists .item .i_info .y_type.otc_2 {
	background-position: -26px -114px;
}
.list_lists .item .i_info>span {
	padding-left: 80px;
	display: block;
	color:#A7A7A7;
	font-size: 12px;
	padding-right: 44px;
}	
.list_lists .item .fl.prices span {
	text-decoration: line-through;
}
.list_lists .item .prices span {
	color:#A7A7A7;
	font-weight: normal;
	display: block;
}	
.list_lists .item .prices strong {
	color:#646464;
	font-weight: normal;
	display: block;
}
.list_lists .item .fl.prices {
	width: 118px;
}
.list_lists .item .prices p {
	font-size: 16px;
	font-weight: bold;
}
.list_lists .item td>div>.fr {
	color:#646464;
	font-style: 12px;
	width: 56px;
	padding-left: 10px;
}
.list_lists .item td .options>* {
	display: block;
	text-align: center;
	position: relative;
}
.list_lists .item td .options a:hover {
	color:#2FBA66;
}
/*exp_layer*/
.exp_layer {
	width: 418px;
	height: 382px;
	background-color: rgba(0,0,0,.2);
	padding: 15px;
	position: absolute;
	top:0;
	left: 0;
	display: none;
}
.exp_layer_in {
	background-color: #fff;
}
.exp_layer_in .exp_head {
	background-color: #e8e8e8;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	margin-bottom: 8px;
	font-size: 18px;
	color:#414141;
}
.exp_layer_in .exp_head>i {
	font-style: normal;
	width: 20px;
	text-align: right;
	color:#a7a7a7;
	font-size: 14px;
	cursor: pointer;
}
.exp_layer_in .exp_line {
	padding: 0 20px;
	height: 32px;
	line-height: 32px;
}
.exp_layer_in .exp_line>span {
	padding-right: 15px;
}
.exp_layer_in .exp_detail {
	margin-top: 10px;
	background-color: #fafafa;
	padding: 12px;
	height: 166px;
	margin-top: 10px;
	position: relative;
	overflow-y: scroll;
}
.exp_layer_in .exp_detail_left {
	position: absolute;
	z-index: 1;
	left: 7px;
	top:3px;
	width: 2px;
	background-color: #b2b2b2;
	height: 100%;
}
.exp_layer_in .exp_detail_right {
	position: relative;
}
.exp_layer_in .exp_detail_right>p {
	padding-left: 32px;
	background-image: url('../../../assets/images/icons_express.png');
	background-repeat: no-repeat;
	background-position: -460px -8px;
	position: relative;
	z-index: 2;
	margin-bottom: 22px;
}
.exp_layer_in .exp_detail_right>.new_detail {
	background-position: -8px -8px;
}
.exp_layer_in .exp_detail_right>p span {
	line-height: 20px;
	color:#a7a7a7;
	display: block;
}
.exp_layer_in .exp_detail_right>.new_detail span {
	color:#409c64;
}
.detail_exp_layer {
	position: fixed;
	left: 50%;
	top:50%;
	margin-left: -224px;
	margin-top: -206px;
}
.list_head_small {
	background-color: #FAFAFA;
	border:1px solid #E8E8E8;
	padding: 0 10px;
}
.list_head  .aksmall_table {
	background-color: #FAFAFA;
}
.list_head .aksmall_table th {
	padding: 3px 10px;
	color:#646464;
}
.list_lists_small {
	padding: 0;
}
.list_lists_small .item {
	border-top: 0;
	margin-bottom: 0;
	padding: 0 10px;
	width: 926px;
}
.list_lists_small .item .i_info {
	width: auto;
}
.list_lists_small .item td {
	border-right: 0;
	vertical-align: middle;
}
.list_lists_small .item td>div {
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
.list_lists_small .item .prices {
	width: auto;
}
.list_lists_small .prices>span {
	text-decoration: line-through;
}

/* loading_animate 加载中动画 */
.loading_animate {
	display: none;
	text-align: center;
}
.loading_animate>i {
	font-size: 16px;
	padding: 10px;
}

/*nothing*/
.nothing {
	display: none;
	width: 990px;
	height: 207px;
	background-color: #fff;	
	text-align: center;
}
.nothing>img {
	margin-top: 26px;
}
.nothing>p {
	color:#A7A7A7;
	padding:10px 0;
	font-size: 16px;
}
.nothing>a {
	background-color: #2FBA66;
	border-radius: 4px;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
	display: inline-block;
	color:#fff;
	font-size: 12px;
}
.nothing>a:hover {
	background-color: #51d485;
}

/*block_area*/
.block_area>h3 {
	width: 950px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	background-color: #E8E8E8;
	font-size: 16px;
}
.block_area_con {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 10px;
}
.block_area_con .inlie_block {
	height: 30px;
}
.block_area_con .inlie_block_l {
	width: 102px;
	overflow: hidden;
	white-space:nowrap;
}
.block_area_con .remarks {
	height: 40px;
	display: block;
	resize: none;
	border:1px solid #e8e8e8;
	padding:6px 15px;
	color:#646464;
	line-height: 20px;
	width: 916px;
}
/*btn_express*/
.btn_express {
	margin-left: 28px;
}

/*counts*/
.counts {
	padding: 20px;
	background-color: #E8E8E8;
}
.counts .inlie_block {
	text-align: right;
	min-height: 22px;
}
.counts .inlie_block>span {
	font-size: 12px;
	width: 86px;
}
.counts .count_name {
	width: 60px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}
.counts .inlie_block .c_orange {
	font-size: 18px;
	font-weight: bold;
}
.btns_conut {
	margin-top: 15px;
}
.btns_conut>a {
	font-size: 12px;
	vertical-align: bottom;
}
.btns_conut>button.large {
	width: 182px;
	height: 46px;
	margin-left: 20px;
	padding: 0 10px;
}
