.header-mc {
  width: 1200px;
  padding-top: 20px;
  height: 100px;
  margin: auto;
  position: relative;
}

.logo {
    width: 274px;
    height: 44px;
    overflow: hidden;
    float: left;
    margin-right: 0;
}

.logo a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.h-title {
  float: left;
  margin-left: 20px;
  padding-top: 8px;
  height: 72px;
  padding-left: 20px;
  font-size: 24px;
  color: #333333;
  background: url("../../../assets/images/login-01-title-bg.png") no-repeat 0
    center;
  line-height: 72px;
  _margin-left: 10px;
}

.header-mc .rt {
  text-align: center;
  float: right;
  display: none;
}

.header-mc .rt span {
  color: #000000;
  font-size: 16px;
}

.header-mc .rt a {
  display: inline-block;
  width: 106px;
  height: 38px;
  text-align: center;
  color: #2fba66;
  font-size: 16px;
  margin: 20px auto 0;
  line-height: 38px;
  border-radius: 2px;
  border: 1px solid #bdbdbd;
  background-color: #f8f8f8;
}

.header-mc .rt a:hover {
  text-decoration: underline;
}

/* qualification */
.qualification {
  position: absolute;
  top: 96px;
  font-size: 14px;
  color: #646464;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
}

.qualification ul {
  position: relative;
  transition: all 0.5s ease-out;
}

.qualification span {
  color: #249e55;
}

/*end*/
