
/* CSS Document */
 html {
    background:#fafafa;
    color:#646464;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, blockquote, th, td, hr, button, article, footer, header, menu, nav, section {
    margin:0;
    padding:0;
}
body, button, input, select, textarea {
    font-size:12px;
    font-family: "微软雅黑", "Hiragino Sans GB", arial, tahoma, "微软雅黑", "宋体", sans-serif;
}
h1, h2, h3, h4, h5, h6, textarea {
    font-weight:normal;
    font-size:14px;
}
b, textarea {
    font-style:normal;
    font-weight:400;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* 去掉 table cell 的边距并让其边重合 */
 pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
/* pre 可以换行*/
 img {
    border:none;
    vertical-align:middle;
}
input, select, textarea {
    font-size:100%;
}
del {
    text-decoration:line-through;
}
/* 一致的 del 样式 */
 a {
    color:#666;
    text-decoration:none;
}
a:active, a:focus, *:focus {
    -moz-outline:none;
    outline:none;
}
/* 去除 ie6 & ie7 焦点点状线 */
 a:hover, a:link, a:visited, a:active, input:focus {
    text-decoration: none;
    transition:background 120ms, border 120ms, text-shadow 250ms ease-in 0ms, color 120ms ease-in 0ms;
}
ul, li, ol {
    list-style:none;
}
th {
    text-align:inherit;
}
/* 输入框 */
input {
    font-family:inherit;
    margin: 0;
    padding: 0;
}
input[type="text"] {
    height: 28px;
    line-height: 28px;
    border: 1px solid #e8e8e8;
    background-color: #fafafa;
    font-size: 14px;
    color:#646464;
}
input[type="text"]::-webkit-input-placeholder { color:#a7a7a7;font-size: 12px; }
input[type="text"]::-moz-placeholder { color:#a7a7a7;font-size: 12px; } /* firefox 19+ */
input[type="text"]:-ms-input-placeholder { color:#a7a7a7;font-size: 12px; } /* Internet Explorer 10+ */
input[type="text"]:-moz-placeholder { color:#a7a7a7;font-size: 12px; } /* firefox 14-18 */
/* 默认文本域 */
.default_textarea {
    background-color: #FAFAFA;
    border:1px solid #E8E8E8;
    padding: 6px 10px;
    color:#646464;
    resize: none;
}
/* 单选按钮 */
.radio_label {
    display: inline-block;
    font-size: 0;
    height: 30px;
    cursor: pointer;
    margin-right: 27px;
}
.radio_label input[type="radio"] {
    display: none;
}
.radio_label>span {
    display: inline-block;
    font-size: 14px;
    float: left;
    height: 30px;
    line-height: 30px;
}
.radio_label .radio_frame {
    width: 14px;
    height: 14px;
    border:1px solid #a9a9a9;
    border-radius: 50%;
    position: relative;
    margin: 7px 6px 0 10px;
}
.radio_label .radio_frame i {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #2fba66;
    border-radius: 50%;
    top:50%;
    left: 50%;
    margin: -5px 0 0 -5px;
    display: none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
.radio_label input[type="radio"]:checked + .radio_frame i {
    display: block;
}
/* 多选按钮 */
.checkbox_label {
    display: inline-block;
    font-size: 0;
    height: 30px;
    cursor: pointer;
    margin-right: 27px;
}
.checkbox_label>input[type="checkbox"] {
    display: none;
}
.checkbox_label>span {
    display: inline-block;
    font-size: 14px;
    float: left;
    height: 30px;
    line-height: 30px;
}
.checkbox_label .checkbox_frame {
    width: 12px;
    height: 12px;
    position: relative;
    margin: 9px 6px 0 10px;
    background-image: url('../../images/icon_checkn.png');
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox_label .checkbox_frame i {
    position: absolute;
    top:0;
    left:0;
    width: 12px;
    height: 12px;
    background-image: url('../../images/icon_check.png');
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
.checkbox_label input[type="checkbox"]:checked + .checkbox_frame i {
    display: block;
}
/* ie bug：th 不继承 text-align */
 iframe {
    display:block;
}
/* 字体颜色 */
.c_green {
    color:#2FBA66;
    font-style: normal;
}
a.c_green:hover {
    color:#51d485;
}
.c_orange {
    color:#F08200;
    font-style: normal;
}
a.c_orange:hover {
    color:#F08200;
}
/* 行内块 */
.inlie_block {
    font-size: 0;
}
.inlie_block>* {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
}
/* 文本对齐 */
.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
/* ie6 7 8(q) bug 显示为行内表现 */
 .mc-main .elli>a {
    color: #f03b44;
}
.elli {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
/* 表格 */
.akdefult_table {
    line-height: 22px;
    width: 100%;
}
.akdefult_table th {
    padding: 5px 0;
    min-height: 20px;
    font-size: 14px;
    color:#646464;
}
/* 单行多出省略号.... */
 .clear {
    display:block;
    overflow:hidden;
    clear:both;
    height:0;
    line-height:0;
    font-size:0;
    zoom:1;
}
/* 清除浮动 zoom:1 for ie6 & ie7 */
 .clear:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {
    zoom:1;
    /* for ie6 & ie7 */
}
.hide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 多出隐藏变... */
 .fl {
    float:left;
    display:inline;
}
/* 设置浮动，减少浮动带来的 bug */
 .fr {
    float:right;
    display:inline;
}
.ctrl-prev a, .ctrl-next a {
    transition: all 0.15s ease-in 0s;
}
/* 按钮 */
/* 普通主要按钮 */
.btn_primary {
    height: 28px;
    line-height: 26px;
    border-radius: 3px;
    font-size: 14px;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    background-color: #fff;
    border:1px solid #fff;
    cursor:pointer;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
/* 主要按钮 - 绿色 */
.bp_green {
    background-color: #2fba66;
    border:1px solid #2fba66;
}
.bp_green:hover {
    background-color: #51d485;
    border:1px solid #51d485;
}
/* 主要按钮 - 橙色 */
.bp_orange {
    background-color: #f08200;
    border:1px solid #f08200;
}
.bp_orange:hover {
    background-color: #f1a74f;
    border:1px solid #f1a74f;
}
.btn_primary.large {
    height: 46px;
    line-height: 44px;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 56px;
}
/* 主要按钮 - 灰白色 */
.bp_default {
    background-color: #f5f5f5;
    color:#969696;
    border:1px solid #ececec;
}
.bp_default:hover {
    background-color: #efefef;
}
/* 主要按钮 - 灰白色朴素按钮 */
.plain {
    background-color: transparent;
    color:#646464;
    border:1px solid #e8e8e8;
}
.plain:hover {
    background-color: #fafafa;
}

/*分页*/
#pagings {
    text-align: center;
}

/* 弹框 */
#loginLayer_wrap {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 99999;
}
#loginLayer_wrap .loginLayer {
    width: 256px;
    height: 160px;
    background-color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    margin:-80px 0 0 -128px ;
    border-radius: 2px;
}
#loginLayer_wrap .loginLayerTip {
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    background-color: #F8F8F8;
    border-bottom: 1px solid #eee;
    padding:0 20px;
}
#loginLayer_wrap .loginLayerTip>i {
    font-style: normal;
    cursor: pointer;
    width: 20px;
    text-align: right;
}
#loginLayer_wrap .loginLayerCon {
    padding: 20px;
    height: 21px;
    color:#333;
    overflow: hidden;
}
#loginLayer_wrap .loginLayerBtns {
   height: 30px;
   line-height: 56px; 
   padding: 13px 20px;
}
#loginLayer_wrap .loginLayerBtns button {
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    border-radius: 2px;
}  
#loginLayer_wrap .loginLayerBtns .loginLayerCancel {
    background-color: #fff;
    border:1px solid #dedede;
    color:#646464;
    cursor: pointer;
} 
#loginLayer_wrap .loginLayerBtns .loginLayerCancel:hover {
    opacity: .8;
}
#loginLayer_wrap .loginLayerBtns .loginLayerConfirm {
    border:1px solid #1E9FFF;
    background-color: #1E9FFF;
    cursor: pointer;
    color: #fff;
}
#loginLayer_wrap .loginLayerBtns .loginLayerConfirm:hover {
    opacity: .9;
}

/* 顶部低版本提示 */
.lowVersion {
    display: none;
    width: 100%;
    margin:0 auto;
    font-size: 12px;
    text-align: center;
    background-color: #fff4e4;
    color:#9a5124;
}
.lowVersionIn {
    height: 32px;
    line-height: 32px;
    width: 1190px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
.lowVersionIn>p {
    padding: 0 20px;
    overflow: hidden;
}
.lowVersionIn>i {
    position: absolute;
    right: 0;
    text-align: right;
    width: 20px;
    top:0;
    height: 32px;
    font-style: normal;
    cursor: pointer;、
    color:#f55d12;
}

/*radio图标*/
 /*.radio-label {
    cursor: pointer;
    float: left;
    display: inline-block;
    text-align: left;
    margin-right: 2em;
    line-height: 19px;
}
.icon-radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/baze-icon.png") no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.selected .icon-radio {
    background: url("../images/baze-icon.png") no-repeat;
    background-position: 0 -26px;
}*/
/*checkbox图标*/
 /*.checkbox-label {
    cursor: pointer;
    float: left;
    display: inline-block;
    text-align: left;
    margin-right: 2em;
    line-height: 19px;
}
.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/baze-icon.png") no-repeat;
    background-position: 0 -78px;
    margin-right: 10px;
    vertical-align: middle;
}
.selected .icon-checkbox {
    background: url("../images/baze-icon.png") no-repeat;
    background-position: 0 -104px;
}*/
/*上传图标*/
/* .uploading {
    display:inline-block;
    width:84px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
    line-height: 25px;
    border: 1px solid #c3c3c3;
    background: url("../images/uploading-icon.png") repeat-x;
}
a:hover.uploading {
    background: url("../images/uploading-icon.png") repeat-x;
    background-position: 0 -26px;
}*/
/*更多图标*/
 /*.more-label {
    cursor: pointer;
    display: inline-block;
    text-align: left;
    margin-right: 2em;
}
.icon-more {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/baze-icon.png") no-repeat;
    background-position: 0 -401px;
    margin-right: 10px;
    vertical-align: middle;
}
.selected .icon-more {
    background: url("../images/baze-icon.png") no-repeat;
    background-position: 0 -427px;
}*/
/*分页样式*/
 /*.pager {
    width: 938px;
    overflow: hidden;
}
#infoPage {
    _float:right;
    font-size: 14px;
    height: 42px;
    margin-bottom: 10px;
    margin-top: 4px;
    text-align: center;
}
#infoPage {
    width:auto;
    float:right;
}
#infoPage ul li {
    float:left;
    line-height: 38px;
    list-style:none;
    color:#999999;
}
#infoPage li span {
    float: left
}
#infoPage .prev {
    margin-right: 20px;
}
#infoPage .next {
    margin-left: 15px;
}
#infoPage .everyPage {
    color:#666666;
    margin-left: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 1px;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width:38px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
#infoPage .nowPage {
    margin-left: 4px;
    border-radius: 1px;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width:38px;
    border: 1px solid #1aa143;
    color: #FFF;
    background:#059557;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
#infoPage select {
    height:18px;
    color:#e60611;
}
#infoPage span, .pager a {
    text-decoration: none;
}
#infoPage li {
    display: inline-block;
    height: 45px;
}
#infoPage li a, #infoPage .pages li span {
    display: block;
    float: left;
    width: auto;
    line-height:11px;
}
#infoPage li a:hover {
    color:#1aa143;
    ;
    background:#FFF;
    border: 1px solid #059557;
}
#infoPage .upPage, #infoPage .downPage {
    border: 1px solid #e9e9e9;
    border-radius: 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: #333333;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width:70px;
    margin-left:4px;
}
#infoPage li.current {
    color: #000000;
    cursor: default;
}
#inputPage {
    border:#e9e9e9 1px solid;
    font-size: 14px;
    color: #666666;
    width:50px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}
#inputPage:focus {
    border: 1px solid #059557;
}
#infoPage .goToPage {
    margin-left:5px;
    background:#FFF;
    border:1px solid #e9e9e9;
    color: #999999;
    font-size: 14px;
    width: 70px;
    height: 38px;
    line-height: 34px;
    cursor:pointer;
    _padding-top: 1px;
    *padding-top: 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition:all 120ms;
}
#infoPage .goToPage:hover {
    color:#1aa143;
    background:#FFF;
    border: 1px solid #059557;
}*/

/*  分页 */
/*#pagings {
    width: 1190px;
    margin:0 auto;
    text-align: center;
}
.layui-laypage>a {
    height: 20px;
    line-height: 20px;
    min-width: 12px;
    padding: 0 6px;
    text-align: center;
    border: 1px solid #A7A7A7;
    background-color: #fafafa;
    color:#A7A7A7;
    margin-left: 8px;
}
.layui-laypage a:hover {
    color:#fafafa;
    background-color: #A7A7A7;
}
.layui-laypage .layui-laypage-curr {
    height: 20px;
    line-height: 20px;
    min-width: 12px;
    text-align: center;
    padding: 0 6px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #A7A7A7;
    color:#FBFBFB;
}
.layui-laypage .layui-laypage-spr {
    height: 20px;
    line-height: 20px;
    min-width: 12px;
    padding: 0 6px;
    margin-left: 8px;
    background-color: transparent;
    border:0;
}*/


/** 登陆  **/
.alertWrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    background-color: rgba(0,0,0,.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
}
.alertContent{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}
.alertTop{
    padding: 10px 20px;
    background-color: rgb(232, 232, 232);
    color: #333;
}
.alertTop span{
    float: left;
}
.alertTop b{
    float: right;
    cursor: pointer;
    font-size: 16px;
}

#loginAlert222 .alertContent{
    width: 400px;
    height: 270px;
}
#loginAlert{
    /*display: none;*/
    width: 250px;
    margin: 0 auto;
    padding-bottom: 40px;
}
#loginAlert input{
    width: 250px;
    height: 32px;
    margin-top: 20px;
    text-indent: 30px;
    border: 1px solid #e8e8e8;
    background-color: #fafafa;
    border-radius: 3px;
}
#loginAlert input[type="text"]{
    background: #fafafa url('../../images/phone.png') no-repeat 10px;
}
#loginAlert input[type="password"]{
    background: #fafafa url('../../images/password.png') no-repeat 10px;
}
#loginAlert button{
    width: 250px;
    height: 32px;
    color: #fff;
    font-size: 16px;
    background-color: #2FBA66;
    border:1px solid #2FBA66;
    border-radius: 3px;
    margin: 20px 0 10px;
    cursor: pointer;
}
#loginAlert>div{
    overflow: hidden;
}
#loginAlert>div a{
    float: left;
    color: #646464;
    font-size: 14px;
}
#loginAlert>div a span{
    color: blue;
}




/***** 头部 *****/
#top {
    background-color: #fafafa;
}


/*顶部导航*/

.shortcut{
    height: 34px;
    line-height: 34px;
    background-color: #e8e8e8;
    border-bottom: 1px solid #eee;
    color: #646464;
}
.shortcut a {
    font-size: 12px;
    color: #646464;
}
.shortcut a:hover {
    color: #2fba66;
}
.shortcut .sh-cont {
    width: 1190px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}
.shortcut .fl {
    position: relative;
    padding-left: 33px;
}
.sh-cont .quitLogin {
    padding-left: 30px;
    border-left: 1px solid #a7a7a7;
}
.shortcut .fl .x-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 20px;
    height: 20px;
    background: url(../../images/sc01-xin-icon01.png) no-repeat;
}

.shortcut .fl .notLogin a{
    margin-right: 20px; 
}
.shortcut .fl .notLogin a:hover {
    color:#ff8a00;
}
.shortcut .fr {
    color: #6c6c6c;
    height: 34px;
}

.shortcut .fr .spacer {
    width: 1px;
    height: 16px;
    padding: 0;
    margin: 10px 10px 0;
    background-color: #a7a7a7;
    float: left;
}
.shortcut .fr .spacer.transparent {
    background-color: transparent;
}

.shortcut .fr .item {
    float: left;
    padding: 0 10px;
}
.show_phone_ewm {
    position: relative;
}
.show_phone_ewm>a>i {
    width: 10px;
    height: 16px;
    display: inline-block;
    background-image: url('../../images/icons_index.png');
    background-repeat: no-repeat;
    background-position: -25px -80px;
    vertical-align: sub;
    padding-right: 5px;
}
.show_phone_ewm .phone_ewm_layer {
    width: 120px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 34px;
    left: 0;
    border:1px solid #eee;
    display: none;
}
.show_phone_ewm:hover .phone_ewm_layer {
    display: block;
}
.show_phone_ewm .phone_ewm_layer>p {
    line-height: 22px;
    text-align: center;
    overflow: hidden;
}
.show_phone_ewm .phone_ewm_img>img {
    width: 100%;
    display: block;
}

.shortcut .fr .item .dt {
    position: relative;
    padding-right: 20px;
    z-index: 21;
}

.shortcut .fr a.login {
    color: #c33;
}
/*end*/


/*中间logo*/

.header-mc {
    width: 1200px;
    padding-top: 28px;
    height: 92px;
    margin: auto;
    position: relative;
}
.logo {
    width: 270px;
    height: 44px;
    overflow: hidden;
    float: left;
    margin-right: 45px;
    margin-right: 0;
}
.logo a {
    display: block;
    width: 270px;
    height: 67px;
    overflow: hidden;
}
.search {
    width: 540px;
    height: 70px;
    overflow: inherit;
    float: left;
    position: relative;
    margin-left: 216px;
    _margin-left: 216px;
}
.search .form {
    width: 540px;
    height: 40px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 2px;
    overflow: hidden;
}
.search .form .inp {
    float: left;
    width: 396px;
    height: 38px;
    padding-left: 36px;
    line-height: 38px;
    font-size: 12px;
    color: #333;
    background: url(../../images/hmc-search01.png) no-repeat 11px center;
    border: 1px solid #2FBA66;
}
.search .form .btn {
    float: right;
    width: 106px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #2FBA66;
    border: none;
    cursor: pointer;
}
.search .hotwords {
    width: 486px;
    padding-left: 0;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    font-size: 0;
}
.search .hotwords strong {
    display: inline-block;
}
.search .hotwords span {
    color: #999;
    font-style: normal;
}
.search .hotwords a {
    color: #999;
    padding: 0 10px;
    border-right: 1px solid #999;
    font-weight: normal;
    font-size: 12px;
}
.search .hotwords a.hot {
    color: #c33;
}
.search .hotwords a:hover {
    color: #c33;
}
.search_history {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    width: 538px;
    height: auto;
    background-color: #fff;
    z-index: 999;
    border: 1px solid #91ceaa;
    border-radius: 2px;
    padding: 10px 0;
}
.sh_list {
    float: left;
    width: 220px;
    border-right: 1px solid #ddd;
    margin-right: -1px;
}
.sh_top {
    overflow: hidden;
}
.search_history .sh_t_left {
    overflow: hidden;
    width: 200px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    color: #999;
    float: left;
}
.search_history .sh_t_left span {
    float: left;
}
.search_history .sh_t_left button {
    float: right;
    border: 0;
    background-color: #fff;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    color: #999;
}
.search_history .sh_t_left button:hover {
    text-decoration: underline;
}
.search_history .sh_t_right {
    overflow: hidden;
    width: 243px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    color: #999;
    float: left;
    border-left: 1px solid #ddd;
}
.sh_list li {
    color: #666;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    padding: 0 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.sh_list li:hover {
    background-color: #91ceaa;
}
.sh_list li:hover a {
    color:#fff;
}
.sh_list li a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sh_list .sh_nothing {
    font-size: 12px;
    height: 30px;
    color: #666;
    cursor: inherit;
    background: url(../../images/icon_sh_nothing.png) no-repeat center top;
    background-size: 150px;
    text-align: center;
    padding-top: 150px;
}

.sh_list .sh_nothing:hover {
    color: #666;
    background-color: #fff;
}

.search_recommend {
    width: 297px;
    min-height: 26px;
    float: right;
    font-size: 0;
    border-left: 1px solid #ddd;
    padding: 0 10px;
}

.search_recommend span {
    display: inline-block;
    font-size: 12px;
    padding: 4px 6px;
    border: 1px solid #ddd;
    margin: 2px 4px;
}

.search_recommend span a:hover {
    color: #FF1A1A;
}


.header-mc .buy-car {
    float: right;
    position: relative;
    z-index: 20;
    border: 1px solid #ccc;
}

.header-mc .buy-car a.car-btn {
    display: block;
    width: 138px;
    height: 38px;
    text-align: center;
    border: 1px solid #d0d0d0;
    line-height: 38px;
    background: #fafafa url("../../images/icon_car.png") no-repeat 37px 8px;
    font-size: 16px;
    color: #646464;
}

.header-mc .buy-car span.num {
    display: block;
    height: 16px;
    line-height: 16px;
    padding: 0 6px;
    background-color: #f10215;
    color: #fff;
    position: absolute;
    left: 136px;
    top: 4px;
    border-radius: 50%;
}

.header-mc .buy-car .no-car {
    display: none;
}

.header-mc .buy-car .car-cont {
    display: none;
}

.header-mc .buy-car:hover .car-cont {
    display: block;
}

.header-mc .cur .no-car {
    display: block;
    width: 313px;
    height: 78px;
    border: 1px solid #eee;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: #666666;
    line-height: 78px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 38px;
}

.header-mc .cur .no-car i {
    display: block;
    width: 138px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: -5px;
}

.header-mc .cur .car-cont {
    display: block;
    width: 306px;
    padding-bottom: 54px;
    border: 2px solid #ccc;
    color: #666666;
    background-color: #fff;
    position: absolute;
    right: -1px;
    top: 41px;
}

.header-mc .cur .car-cont i {
    display: block;
    width: 138px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: -5px;
}

.header-mc .cur .car-cont h4 {
    font-weight: bold;
    color: #666;
    line-height: 41px;
    padding-left: 22px;
}

.header-mc .cur .car-cont .cc-bot {
    height: 45px;
    width: 281px;
    line-height: 32px;
    color: #666666;
    padding: 10px 0 0 25px;
    position: absolute;
    left: 0;
    background-color: #f5f5f5;
    bottom: 0;
}

.header-mc .cur .car-cont .cc-bot span {
    float: left;
}

.header-mc .cur .car-cont .cc-bot span em {
    color: #cc3333;
    font-style: normal;
    font-family: Arial;
}

.header-mc .cur .car-cont .cc-bot a {
    display: block;
    width: 75px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    transition: background 100ms ease 0s;
    padding-right: 10px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background: #059557 url("../../images/hmc-bcar-bg02.png") no-repeat 69px center;
    float: right;
    margin-right: 10px;
    border-radius: 1px;
}

.header-mc .cur .car-cont .cc-bot a:hover {
    background: #3371cc url("../../images/hmc-bcar-bg02.png") no-repeat 69px center;
}

.header-mc .cur .car-cont ul {
    width: 100%;
}

.header-mc .cur .car-cont ul li {
    height: 51px;
    padding: 9px 0 0 20px;
    border-bottom: 1px dashed #e5e5e5;
    overflow: hidden;
}

.header-mc .cur .car-cont .c-pic {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #dddddd;
    float: left;
    margin-right: 8px;
}

.header-mc .cur .car-cont .title {
    display: block;
    width: 135px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #666666;
    float: left;
}

.header-mc .cur .car-cont a:hover.title {
    color: #c83a2f;
}

.header-mc .cur .car-cont .quantity {
    float: left;
    line-height: 23px;
    color: #333333;
}



.showlist {
    height: auto;
    overflow: hidden;
}

#searchFields {
    box-sizing: content-box;
}


/* qualification */

.qualification {
    position: absolute;
    top: 96px;
    font-size: 14px;
    color: #646464;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
}

.qualification ul {
    position: relative;
}

.qualification span {
    color: #249e55;
}


/*end*/


/* 顶部导航 */

.nav {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #2fba66;
}

.nav_in {
    width: 1190px;
    height: 40px;
    margin: 0 auto;
}

.nav_in>div {
    float: left;
}

.nav_in .all_sort {
    width: 153px;
    font-size: 18px;
    padding-left: 37px;
    background-color: rgba(68, 68, 68, .9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5444444,endColorstr=#E5444444);
    position: relative;
}

.nav_in .sort_list {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 10;
    background-color: rgba(68, 68, 68, .9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5444444,endColorstr=#E5444444);
    left: 0;
    width: 190px;
    height: 500px;
}
.nav_in .sort_list.isIndex {
    display: block;
}

.nav_in .sort_list .list_item>a {
    color: #FFFFFF;
    height: 35px;
    line-height: 35px;
    display: block;
    font-size: 14px;
    padding-left: 37px;
}
.nav_in .sort_list .list_item>a.cur {
    background-color: #2fba66;
}
.nav_in .sort_list .list_item {
    height: 35px;
}
.item_childs {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 20px 15px;
    left: 190px;
    top:1px;
    width: 752px;
    height: 460px;
    z-index: 9;
    line-height: normal;
    overflow-y: scroll;
}
.item_childs dl {
    font-size: 0;
    width: 337px;
    height: 128px;
    overflow: hidden;
    float: left;
    padding: 0 15px 10px;
}
.item_childs dt {
    display: block;
    padding-bottom: 5px;
}
.item_childs dt a {
    display: inline-block;
    height: 18px;
    width: 150px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
}
.item_childs dd {
    display: inline-block;
    font-size: 12px;
    padding: 5px 0 5px 0;
    margin-right: 10px;
}
.item_childs dd>a {
    padding-right: 10px;
    border-right: 1px solid #a7a7a7;
}
.item_childs dd>a:hover {
    color:#2fba66;
}

.nav_in .all_sort>a {
    color: #FFFFFF;
    display: block;
    padding-right: 10px;
    overflow: hidden;
}

.nav_in .nav_lists {
    width: 740px;
    height: 40px;
    overflow: hidden;
}

.nav_in .nav_lists ul {
    height: 40px;
    padding-left: 20px;
}

.nav_in .nav_lists ul li {
    float: left;
    padding: 0 18px;
    text-align: center;
}

.nav_in .nav_lists ul a {
    /*color: #414141;
    font-size: 18px;*/
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

.nav_in .nav_lists ul li.cur a {
    color: #2FBA66;
}

.nav_in .nav_lists ul a:hover {
    color: #2FBA66;
}

.nav_in .nva_right {
    width: 260px;
}

/* 顶部导航 end */



/* n_footer */
.n_footer {
    width: 100%;
    height: 410px;
    margin: 0 auto;
    background-color: #e8e8e8;
}

.n_footer .ft {
    padding: 24px 0;
    background-color: #fafafa;
    border-top: 1px solid #e8e8e8;
}

.n_footer .ft img {
    width: 1190px;
    margin: 0 auto;
    display: block;
}

.n_footer .fb {
    padding-top: 50px;
    height: 204px;
    width: 1190px;
    margin: 0 auto;
}

.n_footer .fb>div {
    float: left;
}

.n_footer .fb .fb_l {
    width: 166px;
}

.n_footer .fb .fb_l>img {
    max-width: 100%;
}

.n_footer .fb .fb_c {
    width: 727px;
    height: 204px;
}

.n_footer .fb .fb_c_ser {
    overflow: hidden;
    padding: 0 76px;
}

.n_footer .fb .fb_c_ser dl {
    float: left;
    width: 191px;
}

.n_footer .fb .fb_c_ser dl dt {
    font-size: 18px;
    height: 30px;
    color: #414141;
    font-weight: bold;
}

.n_footer .fb .fb_c_ser dl dd {
    font-size: 14px;
}

.n_footer .fb .fb_c_ser a {
    color: #646464;
    display: block;
    line-height: 38px;
    font-size: 14px;
}

.n_footer .line {
    height: 120px;
    width: 2px;
    background-color: #d4d4d4;
    margin-top: 32px;
}

.n_footer .fb .fb_c_ser a:hover {
    color: #2FBA66;
}

.n_footer .fb .fb_r {
    float: right;
    width: 295px;
    text-align: right;
}

.n_footer .fb .fb_r>img {
    max-width: 100%;
}
.n_footer .beans {
    text-align: center;
    padding: 10px 0;
}