<!DOCTYPE html>
<html>
  <head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页a<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" type="text/css" href="/style/submitSuccess.css">

    <% include('../layout/headJs.html') %>

  </head>
  <body>
    
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->
    
	  <div class="smain">
      <div class="smain-top">
        <h3>
          <img src="/images/paysuccess.png">
          <span class="orderMsg"></span>
        </h3>
        <p>订单号：<span class="orderCode"></span></p>
        <p>待支付金额：<span class="pay-money">￥0.00</span></p>
      </div>
      <div class="smain-bottom">
        <div class="onlinePay" style="display:none;">
          <h3>选择支付平台</h3>
          <div class="pay-logo">
            <a class="active" href="javascript:void(0)"><img src="/images/zhifubao.png"></a>
            <a href="javascript:void(0)"><img src="/images/wxpay.png"></a>
          </div>
          <div class="button-w">
            <button class="surePay">确认支付</button>
          </div>
        </div>
        <div class="cod">
          <h3>该订单为货到付款件！请耐心等待物流</h3>
          <div class="button-w">
            <button class="goHome">回到首页</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 底部 -->
    <% include('../layout/footer.html') %>
    <!-- 底部 end -->
    <script type="text/javascript">
      $(function(){
          // 获取订单
          $.ajax({
              url: $.getGlobalVal().webRoot + '/order/getOrderByMemberId',
              type: 'POST',
              dataType: 'json',
              data: {
                  memberId: $.getGlobalVal().memberId
              },
              success: function(res){
                  // console.log(res);
                  if(res.data[0].payType == 4){
                    // 货到付款
                    $('.onlinePay').css({'display':'none'});
                    $('.cod').css({'display':'block'})
                  }else{
                    // 在线支付
                    $('.onlinePay').css({'display':'block'});
                    $('.cod').css({'display':'none'})
                  }
                  $('.smain-top .orderMsg').html('订单已提交！');
                  $('.orderCode').html(res.data[0].orderCode);
                  $('.pay-money').html('￥'+res.data[0].factAmt.toFixed(2));
              },
              error: function(err){
                  console.log(err)
              }
          })

          $('.goHome').click(function(){
            window.location.href = '/'
          })
      })
    </script>
  </body>
</html>
