{{#each datas}}
<li>
    <a target="_blank" href="/list.html?productName={{this.brandName}}">
        <img class="lazy" data-original="{{this.largePhoto}}" alt="{{this.brandName}}">
    </a>
</li>
{{/each}}