
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta name="force-rendering" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="keywords" content="药房网，网上药店，处方药网购，网上买药，药品网，新特药买药购药就上阿康大药房-阿康大药房">
	<meta name="description" content="网上买药找药去哪个网站？药房网、网上药店、处方药网购哪个好？买药品最正规的网站【阿康大药房】经国家药监局批准的专业药房网,可选同仁堂等品牌产品的网上药店!-阿康大药房">
    
    
    <meta name="mobile-agent" content="format=xhtml; url=http://m.ak1ak1.com">
    <meta name="mobile-agent" content="format=html5; url=http://m.ak1ak1.com">
    <!-- <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script> -->
    <script src="../../static/js/uaredirect.js" type="text/javascript"></script>
	<script type="text/javascript">uaredirect("http://m.ak1ak1.com");</script>
	<!-- <link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/common/common.css">
	<link rel="stylesheet" href="/static/css/index.css"> -->
	<link rel="stylesheet" href="../../static/js/layui/css/layui.css">

	<script src="../../static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/layui/layui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
	<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.plugins.min.js"></script> -->

	<!--[if lt IE 9]> 
	<script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-sham.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/es7-shim/6.0.0/es7-shim.min.js"></script> -->


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-108545486-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-108545486-1');
	</script> -->
	<!-- ga end -->
    <!-- <script id="TQJS0.7405573887470491" src="http://sysimages.tq.cn/js/vip/100501/invite.js"></script> -->




