<div id="rl_footer">
    <div class="fb">
        <div class="fb_l">
            <img src="../../assets/images/bot_ewm.png" alt="阿康大药房二维码">
        </div>
        <div class="fb_c">
            <div class="fb_c_ser">
            
                <dl class="fore0">
                <dt>新手上路</dt>
                <dd>
                    <a href="/help-new.html?nav=n&con=1">注册流程</a>
                    
                    <a href="/help-new.html?nav=n&con=2">用户登录</a>
                    
                    <a href="/help-new.html?nav=n&con=3">实体店介绍</a>
                    
                    <a href="/help-new.html?nav=n&con=4">常见问题</a>
                </dd>
                </dl>
            
                <dl class="fore1">
                <dt>售后服务</dt>
                <dd>
                    <a href="/help-new.html?nav=s&con=1">商品签收</a>
                    
                    <a href="/help-new.html?nav=s&con=2">退换货政策</a>
                    
                    <a href="/help-new.html?nav=s&con=3">退换货流程</a>
                    
                    <a href="/help-new.html?nav=s&con=4">退款流程及说明</a>
                </dd>
                </dl>
            
                <dl class="fore2">
                <dt>门店支付与配送</dt>
                <dd>
                    <a href="/help-new.html?nav=p&con=1">网上支付方式</a>
                    
                    <a href="/help-new.html?nav=p&con=2">银行转账</a>
                    
                    <a href="/help-new.html?nav=p&con=3">货到付款</a>
                    
                    <a href="/help-new.html?nav=p&con=4">配送范围及运费</a>
                </dd>
                </dl>
            </div>
        </div>
        <div class="line"></div>
        <div class="fb_r">
            <img src="../../assets/images/bot_tel.png" alt="服务热线">
        </div>
        </div>
</div>