<div class="header-mc">
    <div class="logo frameEdit" frameinfo="logo|403X67">
        <a href="/" title="阿康大药房" target="_blank"><img src="../../assets/images/logo.png" alt="阿康大药房" ></a>
    </div>
    
    <div class="h-title"><!-- 找回密码 --></div>
    
    <div class="qualification">
        <ul>
            <li>
                <p>互联网药品交易服务资格证：<span>粤C20160043</span></p>
            </li>
            <li>
                <p>营业执照：<span>91440101088154943B</span></p>
            </li>
            <li>
                <p>食品经验许可证：<span>JY14401110042471</span></p>
            </li>
            <li>
                <p>医疗器械经营许可证：<span>粤穗食药监械经营许 20161016号</span></p>
            </li>
            <li>
                <p>粤穗食药监械经营备：<span>20162471号</span></p>
            </li>
            <li>
                <p>粤穗食药监械经营许：<span>粤穗食药监械经营备20162471号</span></p>
            </li>
        </ul>
    </div>
    <div class="rt loginp">
        <span>还没有账号？</span>
        <a href="./register.html">立即注册</a>
    </div>
    <div class="rt registerp">
        <span>已有会员账号？</span>
        <a id="toLogin" href="/login.html">立即登录</a>
    </div>
    <div class="clear"></div>
</div>