<%# 公用的js文件 %>
<script src="/js/common/jquery-1.9.1.min.js"></script>
<script src="/js/common/global.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/common/top.js"></script>
<script type="text/javascript" src="/js/common/jquery.lazyload.min.js"></script>
<script src="/js/common/common.js"></script>
<script type="text/javascript" src="/js/layui/layui.js"></script>

<!--[if lt IE 9]> 
<script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- ga end -->