<%# 公用的js文件 %>
<script src="/plug/jquery-1.9.1.min.js"></script>
<script src="/plug/crypto.js"></script>
<script src="/js/common/global.js"></script>
<script src="/plug/jquery.cookie.js"></script>
<script src="/js/common/top.js"></script>
<script type="text/javascript" src="/plug/jquery.lazyload.min.js"></script>
<script src="/js/common/common.js"></script>
<script type="text/javascript" src="/plug/layui/layui.js"></script>

<!--[if lt IE 9]> 
<script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
<![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- ga end -->