<div id="top">
    <!-- 头部顶部条 -->
    <div class="shortcut">
        <div class="sh-cont">
            {{if memberInfo}} 
            <div class="fl welcome">你好,<a class="login" href="/module/member/index.html">{{memberInfo.memberName || memberInfo.mobile}}</a>欢迎来到阿康大药房！</div>
            <div class="fl isLogin"><span><a class="quitLogin loginOutBtn" href="javascript:void(0)" title="安全退出">安全退出</a></span></div>
            {{else}}
            <div class="fl welcome">
                欢迎来到阿康大药房！
            </div>
            <div class="fl">
                <span class="isunlogin notLogin"><a class="login_entry c_orange" href="/login.html" rel="nofollow">请登录</a><a href="/register.html" rel="nofollow">注册</a></span>
            </div>
            {{/if}}

            <ul class="fr">
                <li class="item show_phone_ewm">
                    <a href="javascript:;"><i class="icon_tel"></i>手机版</a>
                    <div class="phone_ewm_layer">
                        <div class="phone_ewm_img">
                            <img src="/images/bot_ewm.png" alt="">
                        </div>
                        <p>阿康大药房</p>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="item">
                    <a class="reg" href="/member/order.html" rel="nofollow" title="我的订单">我的订单</a>
                </li>
                <li class="spacer transparent"></li>
                <li class="item">
                    <a href="/member/index.html" class="toPersonal" rel="nofollow" title="会员中心">个人中心</a>
                </li>
                <li class="spacer transparent"></li>
                <li class="item">
                    <a class="collectOur" href="javascript:void(0);">收藏本站</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!-- 头部顶部条 end -->

    <!-- 头部 -->
    <div class="header-mc">
        <h1 class="logo" id="logo">
            <a href="/"><img src="/images/logo.png" title="阿康大药房" alt="买药品最正规的网站，经国家药监局批准的专业药房网,药品网购就到阿康大药房!" border="0"></a>
        </h1>
        <div class="search">
            <div class="form putArea">
                <form id="searchForm" action="javascript:;" method="get">
                    <input type="hidden" name="category" value="1">
                        <input id="searchFields" name="keyword" class="inp" type="text" placeholder="请输入商品名称、拼音首字母、国药准字" autocomplete="off">
                    <input class="btn header_search" type="submit" value="搜索">
                </form>
                <div class="clear"></div>
            </div>
            <div class="hotwords frameEdit" frameinfo="new_hotwords">
                <strong>
                <a href="/products/list.html?productName=白蛋白" title="白蛋白">白蛋白</a>
                </strong>
            
                <strong>
                <a href="/products/list.html?productName=恩必普" title="恩必普">恩必普</a>
                </strong>
            
                <strong>
                <a href="/products/list.html?productName=非布司他片" title="非布司他片 ">非布司他片 </a>
                </strong>
            
                <strong>
                <a href="/products/501.html" title="泰勒宁">泰勒宁</a>
                </strong>
            
                <strong>
                <a href="/products/list.html?productName=神经生长因子" title="神经生长因子">神经生长因子</a>
                </strong>
            
                <strong>
                <a href="/products/list.html?productName=清肺散结丸" title="清肺散结丸" style="border-right:0;">清肺散结丸</a>
                </strong>
            </div>
            <div class="search_history">
                <!-- <h3><span>搜索记录:</span><button>清空</button></h3> -->
                <div class="sh_top">
                    <div class="sh_t_left">
                        <span>搜索记录:</span><button class="clearAksearchlis">清空</button>
                    </div>
                    <div class="sh_t_right">
                        <p>热门搜索：</p>
                    </div>
                </div>
                <div class="sh_list">
                    <ul>
                        <!-- <li><a href="http://www.ak1ak1.com/productlist.ac?category=1&amp;keyword=白蛋白">白蛋白</a></li> -->
                    </ul>
                </div>
                <div class="search_recommend">
                    <!-- 热门搜索 -->
                </div>
            </div>
        </div>
        
        <!-- <div class="buy-car" id="myCart">
            <a href="/shoppingcart/cart.ac" class="car-btn">购物车</a>
            <span class="num" id="top_myCart_cartNum2">3</span>

            <div class="showlist" style="display: block;">
            <div class="car-cont">
                <i></i>
                <h4>购物车里的商品</h4>
                <ul>
                    <li>
                    <div class="c-pic"><a href="/product-3372.html"><img height="40" width="40" src="http://www.ak1ak1.com/upload/1/2017/9/20/40e30667-5779-45da-9c17-36e46e377ea8_40X40.jpg"></a></div>
                    <a href="#" class="title">同济堂 虫草清肺胶囊 24粒/盒 1盒</a>
                    <div class="quantity">¥28.00&nbsp;&nbsp;×1</div>
                    </li>
                    
                    <li>
                    <div class="c-pic"><a href="/product-14915.html"><img height="40" width="40" src="http://www.ak1ak1.com/upload/1/2018/1/18/1bfbe4ee-40b0-4730-b169-10dc0aa3450a_40X40.jpg"></a></div>
                    <a href="#" class="title"> 南昌卫材 一次性使用口罩（B型 挂耳 中号） 10个/袋  </a>
                    <div class="quantity">¥8.00&nbsp;&nbsp;×1</div>
                    </li>
                    
                    <li>
                    <div class="c-pic"><a href="/product-16259.html"><img height="40" width="40" src="http://www.ak1ak1.com/upload/1/2018/3/6/29edcab9-84c8-4608-9244-ea73d2a9a872_40X40.jpg"></a></div>
                    <a href="#" class="title">打针 1次 </a>
                    <div class="quantity">¥139.00&nbsp;&nbsp;×1</div>
                    </li>
                </ul>
                <div class="cc-bot">
                    <span>共3件商品，合计<em>¥ 175.00</em></span>
                    <a href="/shoppingcart/cart.ac">去结算</a>
                </div>
            </div>
        </div> -->
        
        <!--功能屏蔽-->
        <!--页尾图片 取证后删除-->
        
        <!--页尾图片 取证后删除 end-->
        <div class="qualification">
            互联网药品交易服务资格证（粤）C20160043
        </div>
        <div class="clear"></div>
    </div>
    <!-- 头部 end -->

    <!-- 头部导航条 -->
    <div class="nav">
        <div class="nav_in">
            <div class="all_sort">
                <a href="/products/list.html" style="color: #fff;">全部分类</a>
                <div class="sort_list">
                    <% if(cateList){  %>
                        <% cateList.forEach(function(item, index){ %>
                        <div class="list_item">
                            <a target="_blank" href="/products/list.html?productTypeOne=<%- item.productTypeID %>" data-pdi="<%- item.productTypeID %>" class=""><%- item.productTypeName %></a>
                            <div class="item_childs" data-eq="<%- index %>">
                                <% item.productTypeList.forEach(function(ChildItem, index){ %>
                                    <dl>
                                        <dt><a target="_blank" href="/products/list.html?productTypeOne=<%- item.productTypeID %>&productTypeTwo=<%- ChildItem.productTypeID %>"><%- ChildItem.productTypeName %></a></dt>
                                        <% ChildItem.products.forEach(function(ChildTwoItem, index){ %>
                                                <dd><a target="_blank" href="/products/<%- ChildTwoItem.productNumber %>.html"><%- ChildTwoItem.currentName %></a></dd>
                                        <% }); %>
                                    </dl>
                                <% }); %>
                            </div>
                        </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
            <div class="nav_lists">
                <ul>
                    <!-- <li class="cur"> -->
                    <li>
                        <a href="/" target="_self">首页</a>
                    </li>
                    <li>
                        <a target="_self" href="/chronic.html">慢病药馆</a>
                    </li>
                    <li>
                        <a target="_self" href="/woman.html">女性频道</a>
                    </li>
                    <li>
                        <a target="_self" href="/man.html">男性频道</a>
                    </li>
                    <li>
                        <a target="_self" href="/article.html">资讯</a>
                        <!-- <a target="_blank" href="http://192.168.2.254:8132/index.html">资讯</a> -->
                    </li>
                    <li>
                        <a target="_self" href="/finddrug.html">找药</a>
                    </li>
                </ul>
            </div>
            <div class="nva_right">
                <!-- <img src="static/images/top_tel.png" alt=""> -->
            </div>
        </div>
    </div>
    <!-- 头部导航条 end -->
</div>