<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">

<% if(keywords){ %>
    <meta name="keywords" content="<%- keywords %>">
<%}else{ %>
    <meta name="keywords" content="药房网，网上药店，处方药网购，网上买药，药品网，新特药买药购药就上阿康大药房-阿康大药房">
<% } %>

<% if(description){ %>
    <meta name="description" content="<%- description %>">
<%}else{ %>
    <meta name="description" content="网上买药找药去哪个网站？药房网、网上药店、处方药网购哪个好？买药品最正规的网站【阿康大药房】经国家药监局批准的专业药房网,可选同仁堂等品牌产品的网上药店!-阿康大药房">
<% } %>
