<dl>
	<dt>个人中心</dt>
	<dd class="my_info {{if curList==1}}cur{{/if}}"><a href="/member/index.html">个人资料</a></dd>
	<dd class="my_order {{if curList==2}}cur{{/if}}"><a href="/member/order.html">我的订单</a></dd>
	<dd class="my_collect {{if curList==3}}cur{{/if}}"><a href="/member/collection.html">我的收藏</a></dd>
	<dd class="my_address {{if curList==4}}cur{{/if}}"><a href="/member/address.html">收货地址</a></dd>
	<dd class="my_prescript {{if curList==5}}cur{{/if}}"><a href="/member/prescript.html">处方笺</a></dd>
	<dd class="my_register {{if curList==6}}cur{{/if}}"><a href="/member/demandRecord.html">需求登记</a></dd>
</dl>