<!DOCTYPE html>
<html lang="utf-8" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    
    <%= require('html-loader!./layout/comHeadText.html')  %>
  </head>
  <body>
    <%= require('html-loader!./layout/comHeader.html') %>

    <div class="container">
      <!-- 轮播图 -->
      <div class="focus-wrap">
        <div class="focus_in">
            <div class="focus">
                <div class="m-banner" style="height: 500px;">
                  <div class="banner_btns">
                      <a href="javascript:void(0);" class="prev" id="turnL"></a>
                      <a href="javascript:void(0);" class="next" id="turnR"></a>
                    </div>
                    <ul id="roteAdv" class="m-b-con">
                      
                    </ul>
                </div>
            </div>
          </div>
      </div>
      <!-- 轮播图 end -->

      <!-- 阿康特色 -->
      <div class="featur_area hasBotAdv">
        <div class="featur_area_in">
            <h2><img src=<%= require('../assets/images/ak_recom.png') %> alt=""></h2>
            <div class="featur_pro_wrap">
                <ul class="featur_pro" style="top: 0px;">
                    
                </ul>
            </div>
        </div>
          
        <!-- 轮播分页按钮 -->
        <!-- <div class="paginations">
          <span class="active_p"></span>
        </div> -->

        <!-- 切换按钮 -->
        <div class="feature_btns">
            <div id="feature_prev"><img src=<%= require("../assets/images/ak_arr_l.png") %> alt=""></div>
            <div id="feature_next"><img src=<%= require("../assets/images/ak_arr_r.png") %> alt=""></div>
        </div>
        <!-- 切换按钮 end -->
      </div>
      <!-- 阿康特色 end -->

      <!-- 楼层广告 1 -->
      <!-- <div class="floor_bot_adv">
          <a target="_blank" href="http://www.ak1ak1.com/zt/xrhf.ac">
              <img src="http://www.ak1ak1.com/upload/1/2018/6/22/ec1dbcf4-59c9-4861-aaf5-c5ab3785cca5.jpg" alt="" id="adv1" title="夏日护肤专题" width="198" height="98">
          </a> 
      </div> -->
      <!-- 楼层广告 1 end -->

      <!-- 楼层1 -->
      <div class="floor hasBotAdv f1">
        <h3 class="f_title"><!-- <a href=""><img src="/static/images/f1_title.png" alt=""></a> --></h3>
        <div class="f_con">
          <div class="floor_l">
            <div class="pro_lar">
              <!-- <div class="fl">
                <h3>同济堂 虫草清肺胶囊 24粒/盒</h3>
                <span>清肺化痰，止咳平喘。</span>
                <p class="c_orange">￥279.0</p>
              </div>
              <div class="fr">
                <a href=""><img src="/static/images/pro.jpg" alt=""></a>
              </div> -->
            </div>
            <div class="pro_lar_bots">
              <!-- <div class="fl">
                <h3>同济堂 虫草清肺胶囊 虫草胶囊虫草胶囊虫草</h3>
                <span>用于肺胃热毒炽盛所致的咽喉肿痛，咽喉肿痛咽喉肿痛咽喉肿痛</span>
                <p class="c_orange">￥279.0</p>
                <div>
                  <a href=""><img src="/static/images/pro.jpg" alt=""></a>
                </div>
              </div>
              <div class="fr">
                <h3>同济堂 虫草清肺胶囊 虫草胶囊虫草胶囊虫草</h3>
                <span>用于肺胃热毒炽盛所致的咽喉肿痛，咽喉肿痛咽喉肿痛咽喉肿痛</span>
                <p class="c_orange">￥279.0</p>
                <div>
                  <a href=""><img src="/static/images/pro.jpg" alt=""></a>
                </div>
              </div> -->
              <p class="clear"></p>
            </div>
          </div>
          <div class="floor_lc">
            <!-- <div class="l_item">
              <h3>同济堂 虫草清肺胶囊 24粒/盒</h3>
              <span>同济堂 虫草清肺胶囊 24粒/盒</span>
              <a href="">
                <span class="fl c_orange">￥279.0</span>
                <span class="fr"><img src="/static/images/pro.jpg" alt=""></span>
                <span class="clear"></span>
              </a>
            </div>
            <div class="l_item">
              <h3>同济堂 虫草清肺胶囊 24粒/盒</h3>
              <span>同济堂 虫草清肺胶囊 24粒/盒</span>
              <a href="">
                <span class="fl c_orange">￥279.0</span>
                <span class="fr"><img src="/static/images/pro.jpg" alt=""></span>
                <span class="clear"></span>
              </a>
            </div>
            <div class="l_item last_l_item">
              <h3>同济堂 虫草清肺胶囊 24粒/盒</h3>
              <span>同济堂 虫草清肺胶囊 24粒/盒</span>
              <a href="">
                <span class="fl c_orange">￥279.0</span>
                <span class="fr"><img src="/static/images/pro.jpg" alt=""></span>
                <span class="clear"></span>
              </a>
            </div> -->
          </div>
          <div class="floor_ladv">
            <!-- <a href=""><img src="/static/images/fadv.jpg" alt=""></a> -->
          </div>
          <div class="floor_radv">
            <div class="fr_adv"><!-- <a href=""><img src="static/images/fr_adv.png" alt=""></a> --></div>
            <!-- <div class="fr_adv fr_adv2"><a href=""><img src="static/images/fr_adv.png" alt=""></a></div> -->
            <!-- <div class="fr_hotlist">
              <ul>
                <li><a href="">感冒发烧</a></li>
                <li><a href="">感冒发烧</a></li>
                <li><a href="">感冒发烧</a></li>
                <li><a href="">感冒发烧</a></li>
                <li><a href="">感冒发烧</a></li>
                <li><a href="">感冒发烧</a></li>
              </ul>
            </div> -->
            <div class="fr_brandlist">
              <ul>
                <!-- <li><a href=""><img src="/static/images/fr_P1.png" alt=""></a></li>
                <li><a href=""><img src="/static/images/fr_P2.png" alt=""></a></li>
                <li><a href=""><img src="/static/images/fr_P3.png" alt=""></a></li>
                <li><a href=""><img src="/static/images/fr_P4.png" alt=""></a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 楼层1 end -->

      <!-- 楼层2 -->
      <div class="floor hasBotAdv f2">
        <h3 class="f_title"></h3>
        <div class="f_con">
          <div class="floor_l">
            <div class="pro_lar">
            </div>
            <div class="pro_lar_bots">
              <p class="clear"></p>
            </div>
          </div>
          <div class="floor_lc">
          </div>
          <div class="floor_ladv">
          </div>
          <div class="floor_radv">
            <div class="fr_adv"></div>
            <!-- <div class="fr_adv fr_adv2"></div> -->
            <div class="fr_brandlist">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 楼层2 end -->

      <!-- 楼层3 -->
      <div class="floor hasBotAdv f3">
        <h3 class="f_title"></h3>
        <div class="f_con">
          <div class="floor_l">
            <div class="pro_lar">
            </div>
            <div class="pro_lar_bots">
              <p class="clear"></p>
            </div>
          </div>
          <div class="floor_lc">
          </div>
          <div class="floor_ladv">
          </div>
          <div class="floor_radv">
            <div class="fr_adv"></div>
            <!-- <div class="fr_adv fr_adv2"></div> -->
            <div class="fr_brandlist">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 楼层3 end -->

      <!-- 楼层4 -->
      <div class="floor hasBotAdv f4">
        <h3 class="f_title"></h3>
        <div class="f_con">
          <div class="floor_l">
            <div class="pro_lar">
            </div>
            <div class="pro_lar_bots">
              <p class="clear"></p>
            </div>
          </div>
          <div class="floor_lc">
          </div>
          <div class="floor_ladv">
          </div>
          <div class="floor_radv">
            <div class="fr_adv"></div>
            <!-- <div class="fr_adv fr_adv2"></div> -->
            <div class="fr_brandlist">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 楼层4 end -->

      <!-- 楼层5 -->
      <div class="floor hasBotAdv f5">
        <h3 class="f_title"></h3>
        <div class="f_con">
          <div class="floor_l">
            <div class="pro_lar">
            </div>
            <div class="pro_lar_bots">
              <p class="clear"></p>
            </div>
          </div>
          <div class="floor_lc">
          </div>
          <div class="floor_ladv">
          </div>
          <div class="floor_radv">
            <div class="fr_adv"></div>
            <!-- <div class="fr_adv fr_adv2"></div> -->
            <div class="fr_brandlist">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 楼层5 end -->

      <!-- 楼层6 -->
      <div class="floor hasBotAdv f6">
        <h3 class="f_title"></h3>
        <div class="f_con">
          <div class="floor_l">
            <div class="pro_lar">
            </div>
            <div class="pro_lar_bots">
              <p class="clear"></p>
            </div>
          </div>
          <div class="floor_lc">
          </div>
          <div class="floor_ladv">
          </div>
          <div class="floor_radv">
            <div class="fr_adv"></div>
            <!-- <div class="fr_adv fr_adv2"></div> -->
            <div class="fr_brandlist">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 楼层6 end -->
    </div>

    <!-- 聊天窗口 -->
    <div class="chatLayer">
      <a href="javascript:void(0);"  id="tqchat1">
        <img src=<%- require('../assets/images/chat-img.png') %> alt="咨询客服">
      </a>
    </div>
    <!-- 聊天窗口 end -->

    
    <%= require('html-loader!./layout/comFooter.html') %>
  </body>
</html>
