<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    
    <%= require('html-loader!./layout/comHeadText.html')  %>

  </head>
  <body>
    <%= require('html-loader!./layout/comHeader.html') %>

    <div class="wrap">
      <!-- <img src="test.png" alt=""> -->
      <!-- <img src="../assets/images/test.png" data-type="htmlimg"> -->

      <div id="ejs">
        <a href="./login.html">登录页</a>
        <a href="./login.html">登录页</a>
        <a href="./login.html">登录页</a>
        <a href="./login.html">登录页</a>
      </div>
    </div>


    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  </body>
  <!-- <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
  "></script> -->
</html>
