.focus_in {
    /*width: 1190px;*/
    width: 100%;
    margin: 0 auto;
}

.focus {
    position: relative;
    left: 0;
    top: 0;
    height: 500px;
    overflow: hidden;
    width: 100%;
}

.m-banner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.banner_btns {
    position: absolute;
    top: 0;
    width: 1190px;
    left: 50%;
    margin-left: -595px;
    z-index: 9;
}

.m-banner .m-b-con {
    width: 1920px;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.m-banner .m-b-con li {
    float: left;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.m-banner .m-b-con li a {
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.m-banner .m-b-con li a img {
    display: block;
    width: 1920px;
    height: 500px;
    overflow: hidden;
}



.m-banner .slider {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    z-index: 9;
    text-align: center;
}

.m-banner .slider span {
    display: inline-block;
    width: 38px;
    height: 6px;
    margin-right: 13px;
    background-color: RGBA(68, 68, 68, .66);
    cursor: pointer;
}

.m-banner .slider span.cur {
    background-color: #fff;
}

.m-banner .slider span:hover {
    background-color: #fff;
}

.focus .prev {
    position: absolute;
    top: 230px;
    left: 190px;
    width: 44px;
    height: 60px;
    background-image: url('/static/images/icons_index.png');
    background-repeat: no-repeat;
    background-position: -8px -176px;
    z-index: 4;
    transition:background 0ms, opacity 120ms;
}
.focus .next {
    position: absolute;
    top: 230px;
    right: 190px;
    width: 44px;
    height: 60px;
    z-index: 4;
    background-image: url('/static/images/icons_index.png');
    background-repeat: no-repeat;
    background-position: -8px -316px;
    transition: background 0ms, opacity 120ms;
}


.main{
	width: 1190px;
	margin: 0 auto;
	padding-top: 20px;
}

.first{
	overflow: hidden;
}
.first .left{
	float: left;
	width: 250px;
	height: 520px;
	background-color: cornflowerblue;
}
.first .left img{
	width: 100%;
	height: 520px;
}
.first .right{
	float: right;
	width: 940px;
	border-top: 1px solid #89DECB;
	background: #FFFFFF;
}
.first .right-top{
	overflow: hidden;
	border-bottom: 1px solid #E8E8E8;
}
.first .right-top .product{
	float: left;
	height: 203px;
	border-left: 1px solid #E8E8E8;
	padding: 36px 0;
}
.first .right-top .pro-l{
	float: left;
	width: 186px;
	padding: 78px 0 0 48px;
}
.first .right-top .pro-l h6{
	width: 150px;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	font-weight: 900;
	font-family: SourceHanSansCN-Medium;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.first .right-top .pro-l p{
	width:175px;
	font-size:12px;
	font-family:SourceHanSansCN-Regular;
	color:#A7A7A7;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.first .right-top .pro-l .btn-wrap{
	overflow: hidden;
	margin-top: 30px;
}
.first .right-top .pro-l .btn-wrap .pri{
	float: left;
	width:91px;
	height: 24px;
	font-size:18px;
	color:#F08200;
	line-height: 24px;
	text-align: center;
	border: 1px solid #F08200;
}
.first .right-top .pro-l .btn-wrap .det{
	float: left;
	width:91px;
	height:26px;
	background: #F08200;
	font-size:18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 26px;
	cursor: pointer;
}
.first .right-top .pro-img{
	float: right;
	width: 235px;
}
.first .right-top .pro-img img{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: cadetblue;
}
.first .right-bottom{
	/*overflow: hidden;*/
}
.first .right-bottom .pro-list{
	float: left;
	width: 204px;
	height: 244px;
	border-left: 1px solid #E8E8E8;
	padding-left: 30px;
}
.first .right-bottom .pro-list img{
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	background: #129747;
}
.first .right-bottom .pro-list h6{
	width: 150px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 34px;
	font-weight: 900;
	font-family: SourceHanSansCN-Medium;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.first .right-bottom .pro-list p{
	width:175px;
	margin: 0 auto;
	font-size:12px;
	font-family:SourceHanSansCN-Regular;
	color:#A7A7A7;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.first .right-bottom .pro-list span{
	display: block;
	text-align: center;
	font-size:18px;
	color: #F08200;
	line-height:16px;
	margin-top: 10px;
}

.pro-wrap{
	width: 1190px;
	margin: 30px auto;
	overflow: hidden;
	padding-bottom: 20px;
	border: 1px solid #E8E8E8;
	background-color: #ffffff;
}
.pro-wrap .item{
	float: left;
	width:283px;
	height:415px;
	border: 1px solid #DDDDDD;
	margin: 10px 6px 0;
}
.pro-wrap .item .pro-img{
	display: block;
	width: 256px;
	height: 260px;
	margin: 0 auto;
}
.pro-wrap .item .pro-img img{
	width: 100%;
}
.pro-wrap .item p{
	width:254px;
	height:60px;
	margin: 10px auto;
	font-size:12px;
	color: #646464;
	line-height:20px;
}
.pro-wrap .item p i{
	display: inline-block;
	width: 51px;
	height: 14px;
	margin-right: 5px;
	vertical-align: middle;
}
.pro-wrap .item p .RX{
	background: url('/static/images/listRX.png') no-repeat;
}
.pro-wrap .item p .OTC-2{
	background: url('/static/images/listOTC-2.png') no-repeat;
}
.pro-wrap .item p .OTC-1{
	background: url('/static/images/listOTC-1.png') no-repeat;
}
.pro-wrap .item .buy{
	width: 256px;
	margin: 10px auto;
	overflow: hidden;
}
.pro-wrap .item .buy .pri{
	float: left;
}
.pro-wrap .item .buy .buy-pri{
	font-size:18px;
	color:#F08200;
	line-height:16px;
}
.pro-wrap .item .buy .old-pri{
	font-size:12px;
	color:#A7A7A7;
	line-height:16px;
	text-decoration: line-through;
}
.pro-wrap .item .buy .num-wrap{
	float: right;
}
.pro-wrap .item .buy .num-wrap .reduce{
	float: left;
	width: 22px;
	height: 21px;
	font-size: 20px;
	text-align: center;
	line-height: 21px;
	background: url(../images/reduce.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
.pro-wrap .item .buy .num-wrap .add{
	float: left;
	width: 22px;
	height: 21px;
	font-size: 20px;
	text-align: center;
	line-height: 21px;
	background: url(../images/add.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
.pro-wrap .item .buy .num-wrap .num{
	float: left;
	width: 33px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #646464;
	font-size: 12px;
	border: 1px solid #DDDDDD;
	margin: 0 4px;
}
.pro-wrap .item button{
	display: block;
	width: 256px;
	height: 36px;
	margin: 0 auto;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 36px;
	background:#F08200;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}
.pro-wrap .item .demand-btn{
	background-color: #2FBA66;
}
.pro-wrap .item .buy-btn{
	background-color: #F08200;
}

