.f-main{
	width: 1190px;
	margin: 30px auto;
}
.f-main h3{
	font-size: 26px;
	color: #414141;
	font-weight: 900;
	text-align: center;
	line-height: 60px;
	position: relative;
	z-index: 100;
}
.f-main h3 span{
	padding: 0 8px;
	background: #fafafa;
}
.f-main h3:before{
	content: '';
	width: 150px;
	height: 2px;
	background: #A7A7A7;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -75px;
	margin-top: -1px;
	z-index: -100;
}
.drug-w{
	border: 1px solid #e8e8e8;
	padding-left:34px;
	padding-bottom: 20px;
	overflow: hidden;
}
.drug-w a{
	float: left;
	width: 190px;
	height: 30px;
	border: 1px solid #e8e8e8;
	font-size: 14px;
	color: #646464;
	text-align: center;
	line-height: 30px;
	margin: 20px 26px 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 6px;
}
.drug-w .active{
	color: #2FBA66;
	border-color: #2FBA66;
}