/*
* @Author: zag
* @Date:   2018-08-01 11:21:45
* @Last Modified by:   zag
* @Last Modified time: 2018-08-01 14:30:17
*/


.wrap {
	width: 1190px;
	min-height: 370px;
	margin:0 auto;
	padding: 20px 0;
	overflow: hidden;
}
.wrap>div {
	float: left;
	height: auto;
}
.help_l_block {
	width: 188px;
	background-color: #fff;
	border:1px solid #E8E8E8;
	border-top: 0;
}
.help_l_block dt {
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
	font-size: 16px;
	font-weight: bold;
	padding: 0 15px 0 26px;
	color: #646464;
}
.help_l_block dd {
	height: 34px;
	line-height: 34px;
	padding: 0 15px 0 42px;
	font-size: 14px;
	color:#646464;
}
.help_l_block dd a {
	display: block;
}
.help_l_block dd.cur a {
	color:#2fba66;
}
.help_l_block dd a:hover {
	color:#2fba66;	
}

/* con */
.con {
    width: 989px;
    margin-left: 10px;
    line-height: 24px;
}
.con>h3 {
    height: 40px;
    padding: 0 20px;
    background-color: #E8E8E8;
}
.con>h3>* {
    height: 40px;
    line-height: 40px;
}
.con>h3>span {
    font-size: 16px;
}
.con_in {
	display: block;
    background-color: #fff;
    padding: 25px 20px 0;
}

.con img {
	max-width: 100%;
}


/*  */
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 1px solid #656565;
	vertical-align: middle;
	line-height: 27px;
}