.list-main{
	width: 1190px;
	margin: 0 auto;
	padding-top: 10px;
}
.list-main .crumbs-bar{
	overflow: hidden;
	line-height: 28px;
}
.list-main .crumbs{
	float: left;
	font-size:12px;
	font-family:MicrosoftYaHei;
	color:rgba(100,100,100,1);
}
.list-main .crumbs a{
	color: #646464;
}
.list-main .crumbs i{
	font-size: 14px;
}
.list-main .crumbs span{
	color: #2FBA66;
}
.list-main .cru-s{
	float: left;
	margin-left: 20px;
}
.list-main .cru-s input{
	float: left;
	width:120px;
	height:28px;
	font-size: 12px;
	color: #A7A7A7;
	padding: 0 7px;
	background:rgba(255,255,255,1);
	border: 1px solid #E8E8E8;
	border-right: none;
}
.list-main .cru-s button{
	float: left;
	width:40px;
	height:30px;
	border: 1px solid #E8E8E8;
	border-left: none;
	background: #FFFFFF;
	cursor: pointer;
	background: #FFFFFF url(../images/listSearch.png) no-repeat 50%;
}
.list-main .cru-s p{
	float: left;
	margin-left: 10px;
	font-size:12px;
	color:rgba(100,100,100,1);
}
.list-main .cru-s p span{
	color: #2FBA67;
}

/* 分类 */
.pro-type{
	margin-top: 30px;
	border: 1px solid #E8E8E8;
}
.pro-type .pt-list{
	overflow: hidden;
	height: 42px;
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
}
.pro-type .pt-list:last-child{
	border-bottom: none;
}
.pro-type .pt-list>.list-name{
	float: left;
	width: 93px;
	height: 200px;
	font-size:14px;
	line-height: 51px;
	text-align: center;
	color:rgba(100,100,100,1);
	background-color: #E8E8E8;
}
.pro-type .pt-list>ul{
	float: left;
	width: 980px;
	padding-top: 15px;
	padding-left: 20px;
	overflow: auto;
}
.pro-type .pt-list li{
	float: left;
	width: 90px;
	font-size: 12px;
	color: #646464;
	margin-bottom:15px;
}
.pro-type .pt-list .brandActive{
	color: #2FBA66;
}
.pro-type .pt-list .productDrugActive{
	color: #2FBA66;
}
.pro-type .pt-list .list-shou{
	float: right;
	margin: 15px 20px;
	color: #646464;
	font-size: 14px;
	cursor: pointer;
}



/** 刷选栏 **/
.tab-card{
	height: 36px;
	margin: 20px 0;
	border: 1px solid #DDDDDD;
	background-color: #E8E8E8;
}
.tab-card ul{
	float: left;
	position: relative;
}
.tab-card li{
	float: left;
	text-align: center;
	line-height: 34px;
	font-size: 12px;
	padding: 0 15px;
	border: 1px solid transparent;
	cursor: pointer;
}
.tab-card li i{
	font-size: 12px;
}
.tab-card .active{
	background-color: #fff;
}
.tab-card li .input-w{
	overflow: hidden;
	width: 150px;
}
.tab-card li .input-w input{
	width: 35px;
	height: 24px;
	padding: 0 6px 0 20px;
	border: 1px solid #DDDDDD;
	background: url(../images/pri_icon.png) no-repeat 3px;
	background-color: #FFFFFF;
}
.tab-card li .input-w span{
	color: #DDDDDD;
}
.tab-card .pri{
	width: 150px;
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 270px;
}
.tab-card .pri .pri-btn{
	width: 100%;
	height: 36px;
}
.tab-card .pri button{
	width: 40px;
	height: 24px;
	border: none;
	outline: none;
	color: #FEFEFE;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	margin-left: 5px;
	cursor: pointer;
}
.tab-card .pri .pri-ok{
	background: #2FBA66;
	color: #fefefe;
}
.tab-card .pri .pri-cle{
	background: #FFFFFF;
	color: #646464;
	border: 1px solid #DDDDDD;
}

.tab-card .page{
	float: right;
	color: #646464;
	line-height: 36px;
	font-size: 12px;
	margin-right: 30px;
}
.tab-card .page span:first-child{
	color: #2FBA66;
}
.tab-card .page i{
	font-size: 12px;
	cursor: pointer;
}

/** 商品列表 **/
.pro-wrap{
	width: 1190px;
	margin: 30px auto;
	overflow: hidden;
	padding-bottom: 20px;
	border: 1px solid #E8E8E8;
	background-color: #ffffff;
}
.pro-wrap h5{
	text-align: center;
	color:#A7A7A7;
	font-size: 24px;
	line-height: 60px;
}
.pro-wrap .item{
	float: left;
	width:283px;
	height:415px;
	border: 1px solid #DDDDDD;
	margin: 10px 6px 0;
}
.pro-wrap .item .product-info{
	display: block;
	width: 256px;
	height: 328px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
.pro-wrap .item .product-info>img{
	display: block;
	width: 256px;
	height: 256px;
	border: none;
}
.pro-wrap .item .product-info p{
	width:254px;
	height:60px;
	margin: 10px auto;
	font-size:12px;
	color: #646464;
	line-height:20px;
}
.pro-wrap .item .product-info p i{
	display: inline-block;
	width: 51px;
	height: 14px;
	margin-right: 5px;
	vertical-align: middle;
}
.pro-wrap .item .product-info p .RX{
	background: url('/static/images/listRX.png') no-repeat;
}
.pro-wrap .item .product-info p .OTC-2{
	background: url('/static/images/listOTC-2.png') no-repeat;
}
.pro-wrap .item .product-info p .OTC-1{
	background: url('/static/images/listOTC-1.png') no-repeat;
}
.pro-wrap .item .buy{
	width: 256px;
	margin: 10px auto;
	overflow: hidden;
}
.pro-wrap .item .buy .pri{
	float: left;
}
.pro-wrap .item .buy .buy-pri{
	font-size:18px;
	color:#F08200;
	line-height:16px;
}
.pro-wrap .item .buy .old-pri{
	font-size:12px;
	color:#A7A7A7;
	line-height:16px;
	text-decoration: line-through;
}
.pro-wrap .item .buy .num-wrap{
	float: right;
}
.pro-wrap .item .buy .num-wrap .reduce{
	float: left;
	width: 22px;
	height: 21px;
	font-size: 20px;
	text-align: center;
	line-height: 21px;
	background: url(../images/reduce.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
.pro-wrap .item .buy .num-wrap .add{
	float: left;
	width: 22px;
	height: 21px;
	font-size: 20px;
	text-align: center;
	line-height: 21px;
	background: url(../images/add.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
.pro-wrap .item .buy .num-wrap .num{
	float: left;
	width: 33px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #646464;
	font-size: 12px;
	border: 1px solid #DDDDDD;
	margin: 0 4px;
}
.pro-wrap .item button{
	display: block;
	width: 256px;
	height: 36px;
	margin: 0 auto;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 36px;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}
.pro-wrap .item .demandBtn{
	background-color: #2FBA66;
}
.pro-wrap .item .buyBtn{
	background-color: #F08200;
}
.page{
	text-align: center;
}


