<!DOCTYPE html>
<html>
  <head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页a<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
		<link rel="stylesheet" type="text/css" href="/style/common/require.css"/>
		<link rel="stylesheet" type="text/css" href="/style/chronic.css"/>

    <% include('../layout/headJs.html') %>
    <script src="/plug/jquery.cycle.all.min.js"></script>
		<script src="/plug/jquery.form.js" type="text/javascript"></script>

  </head>
  <body>
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->
    
    <!-- 轮播图 -->
	  <div class="focus-wrap">
      <div class="focus_in">
          <div class="focus">
              <div class="m-banner" style="height: 500px;">
                <div class="banner_btns">
                    <a href="javascript:void(0);" class="prev" id="turnL"></a>
                    <a href="javascript:void(0);" class="next" id="turnR"></a>
                  </div>
                  <ul id="roteAdv" class="m-b-con">
                    {{if renderData.bannerDatas}}
                      {{each renderData.bannerDatas}}
                        <li id="{{$index+1}}">
                            <a target="_blank" href="{{$value.advertisementUrl}}">
                                <img src="{{$value.advertisementPhoto}}" alt="">
                            </a>
                        </li>
                      {{/each}}
                    {{/if}}
                  </ul>
                  <!-- <div id="roteAdv_nav" class="slider" style="">
  
                  </div> -->
              </div>
          </div>
        </div>
    </div>
    <!-- 轮播图 end -->
  
    <div class="main">
      <div class="first">
        <div class="left">
          {{if renderData.tuiJian}}
            <a target="_blank" href="{{renderData.tuiJian[0].advertisementUrl}}"><img src="{{renderData.tuiJian[0].advertisementPhoto}}" ></a>
          {{/if}}
        </div>
        <div class="right">
          <div class="right-top">
            <% if(renderData.recomProducts){ %>
              <% renderData.recomProducts.forEach((item, index)=>{ %>
                <% if(index<2){ %>
                  <div class="product">
                    <div class="pro-l">
                      <h6><%= item.productName %></h6>
                      <p><%= item.isHelpFor %></p>
                      <div class="btn-wrap">
                        <span class="pri"><%= item.ourPrice | filterPrice %></span>
                        <a target="_blank" class="det" href="/products/<%= item.productNumber %>.html">查看详情</a>
                      </div>
                    </div>
                    <div class="pro-img">
                      <a target="_blank" href="/products/<%= item.productNumber %>.html">
                        <img class="lazy" data-original="<%= $imports.filterFirstPhoto(item.productPhotos) %>?200*200" alt="<%= item.productName %>" title="<%= item.productName %>">
                      </a>
                    </div>
                  </div>
                <% } %>
              <% }) %>
            <% } %>
          </div>
          <div class="right-bottom">
              <% if(renderData.recomProducts){ %>
                <% renderData.recomProducts.forEach((item, index)=>{ %>
                  <% if(index>=2 && index<6){ %>
                      <div class="pro-list">
                        <a target="_blank" href="/products/<%= item.productNumber %>.html">
                          <img class="lazy" data-original="<%= $imports.filterFirstPhoto(item.productPhotos) %>" alt="<%= item.productName %>" title="<%= item.productName %>">
                        </a>
                        <h6>
                          <a target="_blank" href="/products/<%= item.productNumber %>.html"><%= item.productName %></a>
                        </h6>
                        <p><%= item.isHelpFor %></p>
                        <span><%= $imports.filterPrice(item.ourPrice)%></span>
                      </div>
                  <% } %>
                <% }) %>
              <% } %>
          </div>
        </div>
      </div>
      
      <div class="pro-wrap">
        {{if renderData.listRroducts}}
          {{each renderData.listRroducts}}
            <div class="item" productIndex="{{$index}}" productId="{{$value.productID}}">
              <div class="pro-img">
                <a target="_blank" href="/products/{{$value.productNumber}}.html">
                  <img class="lazy" data-original="{{$value.productPhotos | filterFirstPhoto}}" alt="{{$value.productName}}" title="{{$value.productName}}">
                </a>
              </div>
              <p>
                <a target="_blank" href="/products/{{$value.productNumber}}.html">
                  <i class="{{$value.prescriptionType | imgType}}"></i>{{$value.productName}}
                </a>
              </p>
              <div class="buy">
                <div class="pri">
                  <span class="buy-pri">{{$value.ourPrice | filterPrice}}</span>
                  <span class="old-pri">{{$value.price | filterPrice}}</span>
                </div>
                <div class="num-wrap">
                  <span class="reduce"></span>
                  <input class="num" value="1" maxStore="{{$value.reserves}}"/>
                  <span class="add"></span>
                </div>
              </div>
              {{if $value.prescriptionType == 1}}
              <button class="demand-btn" data-proNum="{{$value.productNumber}}">需求登记</button>
              {{else}}
              <button class="buy-btn" data-proNum="{{$value.productNumber}}">立即购买</button>
              {{/if}}
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>

    <!-- 底部 -->
    <% include('../layout/footer.html') %>
    <!-- 底部 end -->

		<script src="/js/chronic.js" type="text/javascript" charset="utf-8"></script>
		<script id="require" src="/js/common/require.js"></script>
  </body>
</html>
