<!DOCTYPE html>
<html>
  <head>
    <% include('../layout/headTextTop.html', {keywords: keywords ,description: description}) %>

    <title><% if(title){ %><%= title %><% }else{ %>首页a<% } %></title>

    <% include('../layout/headTextBottom.html') %>

    <% include('../layout/headCss.html') %>
    <link rel="stylesheet" type="text/css" href="/style/common/require.css"/>
    <link rel="stylesheet" type="text/css" href="/style/productDetails.css"/>
    <link rel="stylesheet" type="text/css" href="/style/jxfzoomy.css">

    <% include('../layout/headJs.html') %>
    <script src="/plug/jxfzoomy.js" type="text/javascript"></script>
    <script src="/plug/jquery.form.js" type="text/javascript"></script>
    <script src="/plug/jquery.cookie.js" type="text/javascript"></script>

  </head>
  <body>
    
    <!-- 头部 -->
    <% include('../layout/head.html', { cateList: renderData.cateList, memberInfo: renderData.memberInfo }) %>
    <!-- 头部 end -->
    
    <!-- 主体 -->
		<div class="detail-main">
        	{{if renderData.productInfo.prescriptionType == 1}}
      			<div class="pro-i rxtips"><p style="color: #a7a7a7;width: 100%;line-height: 28px;">温馨提示：本品为处方药，您成功预订后，阿康大药房会主动与您联系。（如需协助请拨打400-930-9990）</p></div>
      		{{/if}}
			<div class="crumbs">
				<a href="/products/list.html">全部结果</a> <i class="layui-icon layui-icon-right"></i>
				{{if renderData.crumbBar.productTypeOne}}
					<a href="/products/list.html?productTypeOne={{renderData.crumbBar.productTypeOne.productTypeID}}">{{renderData.crumbBar.productTypeOne.productTypeName}}</a> <i class="layui-icon layui-icon-right"></i>
				{{/if}}
				{{if renderData.crumbBar.productTypeTwo}}
					<a href="/products/list.html?productTypeOne={{renderData.crumbBar.productTypeOne.productTypeID}}&productTypeTwo={{renderData.crumbBar.productTypeTwo.productTypeID}}">{{renderData.crumbBar.productTypeTwo.productTypeName}}</a> <i class="layui-icon layui-icon-right"></i>
				{{/if}}
				<span>{{renderData.productInfo.productName}}</span>
			</div>
			<!-- 基本信息 -->
			<div class="pro-w">
				<!-- 放大镜 -->
				<div class="pro-l">
					<div class="pro-zoom">
            <div id="zoomContainer" class='jxfzoomy-container'>
              <div class="jxfzoomy-thumb-box">
                <div class="jxfzoomy-thumb-ct">
                  <ul class='zoomItem jxfzoomy-list-img jxfzoomy-clearfix'>
                      <!-- 有jxfzoomy-active为当前选中的图片 data-smallImg属性为小图路径 
                      data-bigImg属性为大图路径 <li>标签内部的img为缩略图 -->
                      <!-- <li class='jxfzoomy-active' data-smallImg="http://113.108.163.210:9999/upLoadProduct/15312962613832018-07-11-16-04-21.jpg" data-bigImg="http://113.108.163.210:9999/upLoadProduct/15312962613832018-07-11-16-04-21.jpg">
                          <div>
                              <img src="http://113.108.163.210:9999/upLoadProduct/15312962613832018-07-11-16-04-21.jpg" alt="" width="60" height="60">
                          </div>
                      </li> -->
                      {{if renderData.productInfo.productPhotos.length>0}}
                        {{each renderData.productInfo.productPhotos}}
                          <li data-smallImg="{{$value.photoURL}}" data-bigImg="{{$value.photoURL}}"><div><img src="{{$value.photoURL}}" alt="" width="60" height="60"></div></li>
                        {{/each}}
                      {{else}}
                      <li data-smallImg="/images/ak_300x300.jpg" data-bigImg="/images/ak_300x300.jpg"><div><img src="/images/ak_300x300.jpg" alt="" width="60" height="60"></div></li>
                      {{/if}}
                  </ul>
                </div>
              </div>
            </div>
					</div>
					<div class="tips"><span>温馨提示</span>：图片均为阿康大药房对原品的真实拍摄，仅供参考；如遇新包装上市可能存在上新滞后，请以实物为准!</div>
					<div class="collection">
						<span class="proCode">商品编码：<span>{{renderData.productInfo.productCode}}</span></span>
						<span class="star" id="collBtn">
							<i class="layui-icon layui-icon-star"></i>
							收藏
						</span>
					</div>
				</div>
				<!-- 放大镜 -->
				<!-- 商品信息 -->
				<div class="pro-r">
					<div class="productTitle"><i class="{{renderData.productInfo.prescriptionType | imgType}}"></i> <h1>{{renderData.productInfo.productName}}</h1></div>
					<h2 class="pro-text">{{@renderData.productInfo.sellingPoint}}</h2>
					<h3 class="pro-i pro-p">
						<span>市场价</span>
						<p class="shi">{{renderData.productInfo.price | filterPrice}}</p>
					</h3>
					<h3 class="pro-i pro-p" id="liao">
						<span>本店价</span>
						<p class="we"><span>{{renderData.productInfo.ourPrice | filterPrice}}</span></p>
					</h3>
					<!-- <h3 class="pro-i pro-p">
						<span>合计</span>
						<p class="he">￥ <span>0.00</span></p>
						<p class="you">优惠<span>￥0.00</span></p>
					</h3> -->
					<h3 class="pro-i">
						<span>批准文号</span>
						<p class="approval_number">{{renderData.productInfo.approvalNo}}</p>
					</h3>
					<h3 class="pro-i">
						<span>生产厂家</span>
						<p class="productFactory">{{renderData.productInfo.productFactory}}</p>
					</h3>
					<h3 class="pro-i">
						<span>选择规格</span>
						<button class="gui">{{renderData.productInfo.spec}}</button>
					</h3>
					<div class="pro-i">
						<span>数量</span>
						<div class="num">
							<a href="javascript:void(0)" class="reduce"></a>
							<input type="text" name="" id="productNumber" value="1" />
							<a href="javascript:void(0)" class="add"></a>
						</div>
					</div>
					<div class="pro-i singleMeal" style="margin-top: 10px;display: none;">
						<span style="line-height: 30px;">疗程装</span>
						<div class="liaoCheng">
							<!-- <button class="active" oldPrice="30.00" newPrice="30.00">1件起 | 30.00元/件</button> -->
						</div>
					</div>
					<div class="pro-i pro-btn">
            		{{if renderData.productInfo.prescriptionType == 1}}
            			<button	class="demand-btn">需求登记</button>
            		{{else}}
						<button id="nowBuy" class="buy-btn">立即购买</button>
            		{{/if}}
						<button	class="consultation-btn"><a class="btn3" href="javascript:void(0)" id="tqchat1">在线咨询</a></button>
					</div>
					
					<div class="pro-i">
						<span>支持</span>
						<div class="support">
							<span>
								<i class="layui-icon layui-icon-ok-circle"></i>
								100%正品
							</span>
							<span>
								<i class="layui-icon layui-icon-ok-circle"></i>
								药监认证
							</span>
							<span>
								<i class="layui-icon layui-icon-ok-circle"></i>
								厂家定点
							</span>
							<span>
								<i class="layui-icon layui-icon-ok-circle"></i>
								门店服务
							</span>
						</div>
					</div>
				</div>
				<!-- 商品信息 -->
				<div class="info-right">
					<img src="/images/der_03.jpg">
				</div>
			</div>
			<!-- 基本信息 end -->
			
			<div class="rxFlow">
				<a href="javascript:void(0);">
					<img src="/images/rxbuyflow.png">
				</a>
				
			</div>


			<!-- 套餐 -->
			<div class="setmeal-wrap" style="display: none;">
				<div class="setTitle">
					<ul>
					</ul>
				</div>
				<div class="setmeal">
					<div class="setmeal-l">
						<div class="list-pic">
                            <div class="featur_pro_wrap">
					            <ul class="featur_pro" style="top: 0px;">
					            </ul>
					        </div>
                            <div class="feature_btns">
						        <div id="feature_prev"><img src="/images/ak_arr_l.png" alt=""></div>
						        <div id="feature_next"><img src="/images/ak_arr_r.png" alt=""></div>
						    </div>
                        </div>
                        <div class="docSay">
                        	<span>药师点评：</span>
                        	<div class="sayContent">
                        		<h3></h3>
                        		<p>暂无点评</p>
                        	</div>
                        </div>
					</div>
					<div class="setmeal-r">
						<h3>套装更优惠</h3>
						<p>套餐价 <span class="taoPri">￥<span>300.00</span></span></p>
						<p>原价 <span class="oldPri">￥495.00</span></p>
						<div class="mealBtnWrap">
							
						</div>
					</div>
				</div>
			</div>
			<!-- 套餐 -->
			
			<!-- 详情  -->
			<div class="detail">
				<ul class="minute-menu">
					<li class="menu-active">商品详情</li>
					<li>说明书</li>
					<li>关于阿康</li>
				</ul>
				<div class="product-detail">
					<div class="p-detail">
						<div class="p-info">
							<ul>
								<li>品牌： <span class="brand">{{renderData.productInfo.brandName}}</span></li>
								<li>通用名称： <span class="commonName">{{renderData.productInfo.currentName == null ? renderData.productInfo.productCategoryProperty.drug_nm:renderData.productInfo.currentName}}</span> </li>
								<li>批准日期： <span class="approvalDate">{{renderData.productInfo.productCategoryProperty.approval_date}}</span></li>
								<li>英文名称： <span class="englishName">{{renderData.productInfo.productCategoryProperty == null?'':renderData.productInfo.productCategoryProperty.english_nm}}</span> </li>
								<li>生产厂家： <span class="productFactory">{{renderData.productInfo.productFactory}}</span> </li>
								<li>GMP认证： <span class="gmp">{{renderData.productInfo.productCategoryProperty == null?'是':(renderData.productInfo.productCategoryProperty.gmp_attestation_stats == '0'?'否':'是')}}</span></li>
								<li>批准文号： <span class="approvalNumber">{{renderData.productInfo.approvalNo}}</span></li>
							</ul>
						</div>
						<div class="p-pic">{{@renderData.productInfo.remark}}</div>
					</div>
					<div class="p-detail" style="display: none;">
						<div class="p-ins">
			  				{{@renderData.productInfo.instructions}}
						</div>
					</div>
					<div class="p-detail" id="aboutAK" style="display: none;background-color: #fff;">
						<!-- <script>
							$("#aboutAK").load('/aboutAK.html?n='+Math.random().toFixed(3));
						</script> -->
					</div>
				</div>
			</div>
		</div>
	<!-- 主体 end -->

    <!-- 底部 -->
    <% include('../layout/footer.html') %>
    <!-- 底部 end -->

    <script src="/js/productDetails.js" type="text/javascript" charset="utf-8"></script>
    <script id="require" src="/js/common/require.js"></script>
  </body>
</html>
