.coupons {
	margin-bottom: 0.31rem;
	background-color: #fff;
	padding: 0.3125rem;
}
.r_header {
	height: 0.5rem;
    line-height: 0.5rem;
    margin-bottom: 0.1875rem;
}
.r_header .zone_title {
	float: left;
    color: #0f904e;
    font-size: 0.44rem;
}
.coupons .item {
	width:4.53rem;
	height: 2.59rem;
	margin-top: 0.31rem;
}
.coupons .item:nth-of-type(1), .coupons .item:nth-of-type(2) {
	margin-top:0;
}
.coupons .item .f_left {
	width:3.56rem;
	height: 2.59rem;
	background-image: url(~assets/images/coupon_bg.png);
	-webkit-background-size: 3.56rem auto;
	background-size: 3.56rem auto;
	background-position: left center;
	/*padding: 0.16rem;*/
	padding: 0.16rem 0.16rem 0.16rem 0.12rem;
	box-sizing: border-box;
}
.coupons .item_price {
	font-size: 0.38rem;
	height: 0.56rem;
	line-height: 0.56rem;
	overflow: hidden;
	margin-top: 0.28rem;
	color:#e00000;
}
.coupons .isget .item_price {
	color:#999;
}
.coupons .item_price>* {
	display: inline-block;
	vertical-align: text-top;
}
.coupons .item_price>i {
	font-style: normal;
	/*line-height: 0.5rem;*/
	font-size: 0.38rem;
	line-height: 0.38rem;
}
.coupons .item_price>em {
	font-style: normal;
	font-size: 0.56rem;
	line-height: 0.56rem;
}
.coupons .item_price>span {
	font-size: 0.31rem;
	padding: 0 0.12rem;
	line-height: 0.5rem;
	background-color: #ffcfd8;
	float: right;
	margin-top: 0.09rem;
	max-width: 1.81rem;
}
.coupons .item_time {
	color:#999;
	font-size: 10px;
	line-height: 0.44rem;
	white-space: nowrap;
	/*text-overflow: ellipsis;*/
	overflow:hidden;
	margin-top: 0.5rem;
}
.coupons .item_time>span {
	color:#333;
	font-size: 0.31rem;
}
.coupons .item .f_right {
	width:0.97rem;
	height: 2.59rem;
	background-image: url(~assets/images/coupon_toget.png);
	-webkit-background-size: 0.97rem auto;
	background-size: 0.97rem auto;
	background-position: left center;
}
.coupons .item.isget .f_right {
	background-image: url(~assets/images/coupon_isget.png);
}